<button type="button" class="btn btn-primary" (click)="ir($event)"><fa-icon class="mr-1" [icon]="['fas', 'plus']"></fa-icon>Registrar</button><br><br>
<div class="list-group">
    <a href="#" (click)="form(question.key, $event)" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let question of questions; let i = index;">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"></h5>
            <small><a href="#" >
                    <fa-icon [icon]="['fas', 'pen']"></fa-icon>
                </a></small>
        </div>
        <p class="mb-1">{{ (i + 1) }}. {{ question.question }}</p>
        <small>{{ question.typeAnswer }}</small>
    </a>
</div>
