
<div id="carouselBizwrap" class="carousel carouselBizwrap slide" data-ride="carousel">
    <div class="carousel-overlay"></div>
    <div class="carousel-inner">

        <div class="carousel-item active" style="background-image: url('./assets/img/portada.jpg')">
              <div class="carousel-content">
                  <div class="carousel-overlay"></div>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 mr-auto ml-auto text-center">
                            <h3>Un paso más cerca de tu próximo objetivo</h3>
                            <!-- <a href="#" class="btn theme-btn-color btn-radius btn-lg">Conocer más</a> -->
                            <!-- <a href="#footer" class="btn btn-suscription btn-white btn-radius btn-lg">Inscríbete</a> -->
                        </div>
                        
                    </div>
                </div>                        
            </div>
        </div>

 
    </div>
    <a class="carousel-control-prev" href="#carouselBizwrap" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselBizwrap" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<section id="inicio" class="slider-reg" style="display: none;">
    <!-- Swiper -->
    <div class="swiper-container swiper-fullwidth">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="./assets/img/portada.jpg" alt="" class="img-fluid" style="width: 100%;height: auto;">
                <div class="swiper-overlay">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 slider-text col-md-10 col-12 mr-auto ml-auto">
                                <h4 class="swiper-title">
                                    Un paso más cerca de tu próximo objetivo
                                </h4>
                                <!-- <p>
                                    ¿Cúal es tu próximo objetivo?
                                </p> -->
                                <a href="#footer" class="btn btn-suscription btn-white btn-radius btn-lg">Inscríbete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="assets/img/bg-2.jpg" alt="" class="img-fluid">
                <div class="swiper-overlay">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-10 slider-text col-md-10 col-12 mr-auto ml-auto">
                                <h4 class="swiper-title">
                                    Perfect for Small Projects
                                </h4>
                                <p>
                                    Bizwrap theme built with modern and easy to use frameworks
                                </p>
                                <a href="#!" class="btn btn-white btn-lg">Purchase Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="assets/img/bg-3.jpg" alt="" class="img-fluid">
                <div class="swiper-overlay">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 slider-text col-md-10 col-12 mr-auto ml-auto">
                                <h4 class="swiper-title">
                                    Easy customization theme
                                </h4>
                                <p>
                                    Bizwrap theme built with modern and easy to use frameworks
                                </p>
                                <a href="#!" class="btn btn-white btn-lg">Purchase Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

</section><!--main flex slider end-->

<div class="container-fluid content-indicadores">
    <div class="row">
        <div class="col-md-12">
            <h3 class="heading-sec">¿Cómo se mueve la agilidad?</h3>
            <div class="space-30"></div>
        </div>
    </div><!--row-->
    <div class="row intro-row">

        <div class=" col-md-4">
            <div class="services-box">
                <!-- <i class="ion-laptop"></i> -->
                <!-- <h1>50%</h1> -->
                <div class="jr-service-porcentage">
                    50%
                </div>
                <!-- <h4>Soporte</h4> -->
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nisl risus, porta sit amet dui eget...
                </p>
            </div>
        </div><!--services box-->
        <div class=" col-md-4">
            <div class="services-box">
                <div class="jr-service-porcentage">
                    60%
                </div>
                <!-- <i class="ion-ios-color-wand-outline"></i> -->
                <!-- <h4>Grupos Interactivos</h4> -->
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nisl risus, porta sit amet dui eget...
                </p>
            </div>
        </div><!--services box-->
        <div class="col-md-4">
            <div class="services-box">
                <div class="jr-service-porcentage">
                    90%
                </div>
                <!-- <i class="ion-social-twitter-outline"></i>
                <h4>Simulador</h4> -->
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nisl risus, porta sit amet dui eget...
                </p>
            </div>
        </div><!--services box-->
    </div><!--row end-->
    <!-- <div class="space-30"></div> -->
    <!-- <div class="text-center">
        <a class="modal-video theme-btn-color-outline btn-radius btn" href="https://www.youtube.com/watch?v=cctFcl5EFYk">Watch Video <i class="ion-play"></i></a>
    </div> -->
</div>

<section id="course" class="padd-section" style="display: none;">
    <div class="container-fluid content-bloques">
        <!-- <div class="row">
            <div class="col-md-12">
                <h3 class="heading-sec">¿Cúal es tu próximo objetivo?</h3>
                <p class="heading-info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit delectus quae labore
                </p>
            </div>
        </div> -->
        <!--row-->
        <div class="row justify-content-md-center">
            <div class="col-md-4 col-sm-6 margin-btm-10">
                <div class="portfolio-sec">
                    <div class="portfolio-thumnail">
                        <a href="javascript:void(0)">
                            <img src="./assets/img/scrum-master.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="portfolio-desc text-center">
                        <h3 class="portfolio-post-title">Scrum Master</h3>
                        <p>
                            Scrum es el enfoque ágil más famoso. Es claro, simple y directo, y la mejor manera de comprender de qué se trata Agilidad y cómo puedes comenzar a usarlo.
                        </p>
                        <!-- <h4><a [routerLink]="['/course/PSMI']" class="btn theme-btn-default btn-radius btn-lg">Más información</a></h4> -->
                    </div>
    
                </div>
            </div>
            <!-- <div class="col-md-4 col-sm-6 margin-btm-10">
                <div class="portfolio-sec">
                    <div class="portfolio-thumnail">
                        <a href="javascript:void(0)">
                            <img src="./assets/img/product-owner.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="portfolio-desc text-center">
                        <h3 class="portfolio-post-title">Product Owner</h3>
                        <p>
                            Scrum es el enfoque ágil más famoso. Es claro, simple y directo, y la mejor manera de comprender de qué se trata Agilidad y cómo puedes comenzar a usarlo.
                        </p>
                        
                    </div>
    
                </div>
            </div> -->
            
        </div><!--row portfolio item-->
    </div><!--recent work container end-->
</section>
<div class="space-10"></div>
<section id="faq" class="padd-section">
    <div class="container-fluid content-ofrecemos">
        <div class="row">
            <div class="col-md-12">
                <h3 class="heading-sec">¿Qué te ofrecemos?</h3>
                <div class="space-30"></div>
            </div>
        </div><!--row-->
        <div class="row">
            <div class="col-md-12 features jr-features">
                <!-- <h3>Sobre nuestros servicios</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut ipsum mauris. Fusce condimentum mollis eros vitae facilisis. Praesent gravida dignissim felis, id sagittis mauris rutrum non. Nullam pretium id sem ut hendrerit.
                </p> -->
                <!-- <div class="space-30"></div> -->
                <div class="row">

                    <div class="col-md-12 services-text">
                        <h3 class="heading-mini"><i class="ion-checkmark mr-2"></i>Material preciso para tu auto estudio</h3>
                        <p>
                            Lo que exactamente necesitas. Nada de relleno. Apuntes, tips, preguntas de examen y clases repaso incluidas.
                        </p>
                    </div>
                </div><!--services list-->
                <div class="space-10"></div>
                <div class="row">
 
                    <div class="col-md-12 services-text">
                        <h3 class="heading-mini"><i class="ion-checkmark mr-2"></i>Ajustamos precio, no calidad</h3>
                        <p>
                            Esto no es un curso común. Hemos ajustado el precio, más no la calidad compartiendo toda la información para que puedas entender y practicar Agilidad
                        </p>
                    </div>
                </div><!--services list-->
                <div class="space-10"></div>
                <div class="row">
                    <div class="col-md-12 services-text">
                        <h3 class="heading-mini"><i class="ion-checkmark mr-2"></i>Garantizamos tu aprobado</h3>
                        <p>
                            Si te quieres examinar como Scrum Master por scrum.org, te garantizamos tu aprobado. Nuestros alumnos sacan +90% de media en el examen Scrum Master de Scrum.org	
                        </p>
                    </div>
                </div><!--services list-->
                <div class="space-10"></div>
                <div class="row">
                   
                    <div class="col-md-12 services-text">
                        <h3 class="heading-mini"><i class="ion-checkmark mr-2"></i>¿Y si no apruebas la certificación?</h3>
                        <p>
                            Te devolvemos el dinero del curso. Aquí no vendemos humo. Si te decimos que aprobarás el examen es que LO APROBARÁS, nuestro alumnos nos respaldan.
                        </p>
                    </div>
                </div><!--services list-->
                <div class="space-10"></div>
                <div class="row">
                    
                    <div class="col-md-12 services-text">
                        <h3 class="heading-mini"><i class="ion-checkmark mr-2"></i> Formadores reales</h3>
                        <p>
                            Aprende Scrum con facilitadores que evidencian de forma real  su trabajo con el marco Scrum.
                        </p>
                    </div>
                </div><!--services list-->
                <div class="space-10"></div>
                <div class="row">
                    <div class="col-md-12 services-text">
                        <h3 class="heading-mini"><i class="ion-checkmark mr-2"></i> Asesoría Online</h3>
                        <p>
                            Aprende de forma entretenida y eficaz a través de la práctica constante y de experiencias 100% participativas en grupos pequeños que facilitarán tu aprendizaje.
                        </p>
                    </div>
                </div><!--services list-->
            </div>
            <div class="col-md-5" style="display: none;">
                <img src="assets/img/ipad.png" class="img-fluid" alt="">
            </div>
        </div>

    </div><!--container-->
</section>
<div class="space-10"></div>
<section id="courses" class="padd-section">
    <div class="container-fluid content-ofrecemos">
        <div class="row">
            <div class="col-md-12">
                <h3 class="heading-sec">Nuestros cursos</h3>
            </div>
        </div><!--row-->
        <div class="row justify-content-md-center">
            <div class="col-lg-4 margin-btm-20">
                <div class="pricing-wrapper">
                    <div class="pricing-head">
                        <h3>Scrum Master</h3>
                    </div>
                    <div class="pricing-rate">
                        <h1>$130.00</h1>
                    </div>
                    <div class="pricing-desc">
                        <ul class="list-unstyled">
                            <li><i class="ion-checkmark-round"></i> Asesoría Personalizada</li>
                            <li><i class="ion-checkmark-round"></i> Contenido Enfocado en el Examen</li>
                            <li><i class="ion-checkmark-round"></i> Pruebas de Nivel</li>
                            <li><i class="ion-checkmark-round"></i> Simuladores de examen. </li>
                        </ul>
                        <p class="text-center">OBJETIVO</p>
                        <p>
                           Entender Scrum para que te certifiques como Scrum Master por scrum.org	
                        </p>
                    </div>
                    
                    <div class="pricing-select">
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#course-detail" class="btn btn-radius btn-lg btn-info">Más Información</a>
                    </div>

                     <!-- Modal -->
                     <div class="modal fade course-detail" id="course-detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelx" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title text-center" id="exampleModalLabelx">Scrum Master</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="portal" style="background-image: url(./assets/img/scrum-master.jpg);"> 

                            </div>
                            <div class="modal-body">
                                
                                
                                <h4 class="mb-2">Lo que aprenderás</h4>
                                <p>
                                    <i class="ion-checkmark-round"></i> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus dolorem in illum eum blanditiis ea laborum ipsum accusantium consequuntur, libero, deleniti explicabo ducimus fugit totam odio, et odit assumenda quae.
                                </p>
                                <p>
                                    <i class="ion-checkmark-round"></i> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus dolorem in illum eum blanditiis ea laborum ipsum accusantium consequuntur, libero, deleniti explicabo ducimus fugit totam odio, et odit assumenda quae.
                                </p>

                                <h4 class="mb-2">Requisitos</h4>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus dolorem in illum eum blanditiis ea laborum ipsum accusantium consequuntur, libero, deleniti explicabo ducimus fugit totam odio, et odit assumenda quae.
                                </p>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus dolorem in illum eum blanditiis ea laborum ipsum accusantium consequuntur, libero, deleniti explicabo ducimus fugit totam odio, et odit assumenda quae.
                                </p>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus dolorem in illum eum blanditiis ea laborum ipsum accusantium consequuntur, libero, deleniti explicabo ducimus fugit totam odio, et odit assumenda quae.
                                </p>

                                <h4 class="mb-2">Descripción</h4>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus dolorem in illum eum blanditiis ea laborum ipsum accusantium consequuntur, libero, deleniti explicabo ducimus fugit totam odio, et odit assumenda quae.
                                </p>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus dolorem in illum eum blanditiis ea laborum ipsum accusantium consequuntur, libero, deleniti explicabo ducimus fugit totam odio, et odit assumenda quae.
                                </p>

                                <h4 class="mb-2">¿Para quién es este curso?</h4>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus dolorem in illum eum blanditiis ea laborum ipsum accusantium consequuntur, libero, deleniti explicabo ducimus fugit totam odio, et odit assumenda quae.
                                </p>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus dolorem in illum eum blanditiis ea laborum ipsum accusantium consequuntur, libero, deleniti explicabo ducimus fugit totam odio, et odit assumenda quae.
                                </p>

                                <!-- <div class="portal">
                                    <img src="../../../assets/img/scrum-master.jpg" alt="">
                                </div> -->
                            </div>
                            <!-- <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                            </div> -->
                        </div>
                        </div>
                    </div>

                </div><!--pricing wrapper-->
            </div><!--pricing col end-->
            <div class="col-lg-4 margin-btm-20" style="display: none;">
                <div class="pricing-wrapper disabled-price">
                    <div class="pricing-head">
                        <h3>Product Owner</h3>
                    </div>
                    <div class="pricing-rate">
                        <h1>?</h1>
                    </div>
                    <div class="pricing-desc">
                        <ul class="list-unstyled">
                            <li><i class="ion-checkmark-round"></i> Asesoría Personalizada</li>
                            <li><i class="ion-checkmark-round"></i> Contenido Enfocado en el Examen</li>
                            <li><i class="ion-checkmark-round"></i> Pruebas de Nivel</li>
                            <li><i class="ion-checkmark-round"></i> Simuladores de examen. </li>
                        </ul>
                    </div>
                    <div class="pricing-select">
                        <button disabled class="btn btn-radius btn-lg btn-suscription">Muy pronto</button>
                    </div>
                </div><!--pricing wrapper-->
            </div><!--pricing col end-->
        </div>

    </div><!--container recent news end-->

      
     
</section>
<div class="space-10"></div>
<section id="team" class="padd-section">
    <div class="container-fluid content-equipo">
        <div class="row">
            <div class="col-md-12">
                <h3 class="heading-sec">Nosotros</h3>
                <!-- <p class="heading-info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. In dolore ea voluptatem
                </p> -->
            </div>
        </div><!--row-->
        <div class="row justify-content-md-center">
            <div class="col-lg-3 col-md-6  margin-btm-20">
                <div class="person-section">
                    <img src="https://corporx.themetags.com/img/team-1.jpg" class="img-fluid" alt="" style="width: 100%;">
                    <div class="person-desc jr-person-desc">
                        <h3>Christian Vera</h3>
                        <!-- <span>web designer</span> -->

                        <!-- <p>
                            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p> -->
                        <!-- <ul class=" team list-inline social-btn">
                            <li class="list-inline-item"><a href="#"><i class="ion-social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like On Facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="ion-social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="ion-social-googleplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On googleplus"></i></a></li>
                        </ul> -->
                        <a href="https://www.linkedin.com/in/christian-paolo-vera-livia-b7680323/" class="btn theme-btn-default btn-radius btn-lg">Ver Perfil</a>
                    </div>
                </div><!--person section end-->
            </div><!--person col end-->
            <div class="col-lg-3 col-md-6  margin-btm-20">
                <div class="person-section">
                    <img src="https://corporx.themetags.com/img/team-3.jpg" class="img-fluid" alt="" style="width: 100%;" >
                    <div class="person-desc jr-person-desc">
                        <h3>Silvia Rodriguez</h3>

                        <!-- <p>
                            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p> -->
                        <!-- <ul class=" team list-inline social-btn">
                            <li class="list-inline-item"><a href="#"><i class="ion-social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like On Facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="ion-social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="ion-social-googleplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On googleplus"></i></a></li>
                        </ul> -->
                        <a href="https://www.linkedin.com/in/silvia-mar%C3%ADa-rodr%C3%ADguez-ojea-picos-961985b7/" class="btn theme-btn-default btn-radius btn-lg">Ver Perfil</a>
                    </div>
                </div><!--person section end-->
            </div><!--person col end-->
            <div class="col-lg-3 col-md-6  margin-btm-20">
                <div class="person-section">
                    <img src="https://corporx.themetags.com/img/team-1.jpg" class="img-fluid" alt="" style="width: 100%;">
                    <div class="person-desc jr-person-desc">
                        <h3>Juan Rodas</h3>

                        <!-- <p>
                            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p> -->
                        <!-- <ul class=" team list-inline social-btn">
                            <li class="list-inline-item"><a href="#"><i class="ion-social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like On Facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="ion-social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="ion-social-googleplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On googleplus"></i></a></li>
                        </ul> -->
                        <a href="https://www.linkedin.com/in/juan-rodas-127150a6/" class="btn theme-btn-default btn-radius btn-lg">Ver Perfil</a>
                    </div>
                </div><!--person section end-->
            </div><!--person col end-->
        </div><!--team 4 col end-->
        <div class="row">
            <div class="col-md-12">
                <h3 class="heading-sec">¿Por qué yourtrustedAdvisor?</h3>
                <p class="heading-info">
                    Somos un pequeño grupo de expertos en marcos ágiles a los que les encanta crear contenido y compartir lo que hemos aprendido. Si bien este es nuestro trabajo principal actualmente, ganar dinero no es nuestra máxima prioridad; la máxima prioridad es la sensación de logro que obtenemos al crear algo que realmente pueda ayudar a las personas.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="info" class="padd-section" style="display: none;">
    <div class="container-fluid content-bloques">
        <div class="row">
            <div class="col-md-12">
                <h3 class="heading-sec">¿Por qué yourtrustedAdvisor?</h3>
                <p class="heading-info">
                    Somos un pequeño grupo de expertos en marcos ágiles a los que les encanta crear contenido y compartir lo que hemos aprendido. Si bien este es nuestro trabajo principal actualmente, ganar dinero no es nuestra máxima prioridad; la máxima prioridad es la sensación de logro que obtenemos al crear algo que realmente pueda ayudar a las personas.
                </p>
            </div>
        </div>
        <!--row-->
        <div class="row justify-content-md-center" style="display: none;">
            <div class="col-md-4 col-sm-6 margin-btm-10">
                <div class="portfolio-sec">
                    <div class="portfolio-thumnail">
                        <a href="javascript:void(0)">
                            <img src="./assets/img/scrum-master.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="portfolio-desc text-center">
                        <h3 class="portfolio-post-title">Scrum Master</h3>
                        <p>
                            Scrum es el enfoque ágil más famoso. Es claro, simple y directo, y la mejor manera de comprender de qué se trata Agilidad y cómo puedes comenzar a usarlo.
                        </p>
                        <!-- <h4><a [routerLink]="['/course/PSMI']" class="btn theme-btn-default btn-radius btn-lg">Más información</a></h4> -->
                    </div>
    
                </div>
            </div>
            <!-- <div class="col-md-4 col-sm-6 margin-btm-10">
                <div class="portfolio-sec">
                    <div class="portfolio-thumnail">
                        <a href="javascript:void(0)">
                            <img src="./assets/img/product-owner.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="portfolio-desc text-center">
                        <h3 class="portfolio-post-title">Product Owner</h3>
                        <p>
                            Scrum es el enfoque ágil más famoso. Es claro, simple y directo, y la mejor manera de comprender de qué se trata Agilidad y cómo puedes comenzar a usarlo.
                        </p>
                        
                    </div>
    
                </div>
            </div> -->
            
        </div><!--row portfolio item-->
    </div><!--recent work container end-->
</section>

<section id="testimonials" class="padd-section">
    <div class="container-fluid content-bloques">
        <div class="row">
            <div class="col-md-12">
                <h3 class="heading-sec">Nuestros alumnos hablan por nosotros</h3>
                <!-- <p class="heading-info">
                    Somos un pequeño grupo de expertos en marcos ágiles a los que les encanta crear contenido y compartir lo que hemos aprendido. Si bien este es nuestro trabajo principal actualmente, ganar dinero no es nuestra máxima prioridad; la máxima prioridad es la sensación de logro que obtenemos al crear algo que realmente pueda ayudar a las personas.
                </p> -->
            </div>
        </div>
        <!--row-->
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto text-center">
                <i class="ion-quote display-4 margin-btm-40 text-primary"></i>
                <div class="swiper-container swiper-text">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <p class="lead">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/-rAeqN-Q7x4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </p>
                            <!-- <img src="assets/img/team/team-1.jpg" alt="" class="img-fluid rounded-circle" width="60"> -->
                            <h6>John Doe - <small>Bizwrap User</small></h6>
                        </div>
                        <div class="swiper-slide">
                            <p class="lead">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut ipsum mauris. Fusce condimentum mollis eros vitae facilisis.  
                            </p>
                            <img src="assets/img/team/team-2.jpg" alt="" class="img-fluid rounded-circle" width="60">
                            <h6>John Doe - <small>Bizwrap User</small></h6>
                        </div>
                        <div class="swiper-slide">
                            <p class="lead">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut ipsum mauris. Fusce condimentum mollis eros vitae facilisis.  
                            </p>
                            <img src="assets/img/team/team-3.jpg" alt="" class="img-fluid rounded-circle" width="60">
                            <h6>John Doe - <small>Bizwrap User</small></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--recent work container end-->
</section>






