<header class="header header-sticky header-light">
    <nav class="navbar navbar-expand-lg yamm">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <img src="assets/img/logo-dark.png" class="img-fluid logo-dark" alt="">
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a [routerLink]="['/home']" class="nav-link" data-toggle="dropdown">Home</a> 
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/about']" class="nav-link">¿Quienes somos?</a>
                    </li>
                    <li class=" dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Cursos</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" [routerLink]="['/course/PSMI']">PROFESSIONAL SCRUM MASTER I</a>
                            </li>
                            <li>
                                <a class="dropdown-item" [routerLink]="['/course/ACP']">AGILE CERTIFIED PRACTITIONER</a>
                            </li>  
                            <li>
                                <a class="dropdown-item" [routerLink]="['/course/PAL']">PROFESSIONAL AGILE LEADERSHIP</a>
                            </li>
                            <li>
                                <a class="dropdown-item" [routerLink]="['/course/PSPO']">PROFESSIONAL SCRUM PRODUCT OWNER</a>
                            </li>
                        </ul>
                    </li>
                    <!--mega menu-->
                    <li class="nav-item">
                        <a [routerLink]="['/faq']" class="nav-link" data-toggle="dropdown">Preguntas frecuentes</a>
                    </li>

                    <li class="nav-item" style="display: none;">
                        <a href="#" class="nav-link" data-toggle="dropdown">Planes  <i class="fa fa-angle-down"></i></a>
                    </li> 
                    <li class="nav-item">
                        <a [routerLink]="['/contact']" class="nav-link" data-toggle="dropdown">Contáctanos</a>
                    </li>
                    <li class="nav-item" style="display: none;">
                        <a href="#" class="nav-link" data-toggle="dropdown">Carrito</a>
                    </li>
                </ul>
            </div>
            <div class="right-search ml-4 dropdown" style="display: none;">
                <a class="icon-search" href="#!" data-toggle="dropdown">
                    <i class="ion-ios-search-strong"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <form class="form-inline">
                        <input type="text" placeholder="Search" class="form-control">
                        <button type="button" class="form-search-button">
                            <i class="ion-ios-search-strong"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </nav><!--nav end-->
</header>

<section id="content-region-3" class="padding-40 page-tree-bg">
    <div class="container">
        <h3 class="page-tree-text">
            PREGUNTAS FRECUENTES
        </h3>
    </div>
</section><!--page-tree end here-->
<div class="space-70"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="heading-mini">Frequently Asked Questions</h4>
            <p>
                Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis dentibea autem inisita.
            </p>

            <div class="space-40"></div>
            <div class="row">
                <div class="col-md-12 margin-btm-20">
                    <div class="price-faq-box">
                        <h3>Lorem ipsum dollor sit amet?</h3>
                        <p>
                            aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div><!--price faq box-->
                </div>
                 <div class="col-md-12 margin-btm-20">
                    <div class="price-faq-box">
                        <h3>Lorem ipsum dollor sit amet?</h3>
                        <p>
                            aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div><!-- faq box-->
                </div>
                
                 <div class="col-md-12 margin-btm-20">
                    <div class="price-faq-box">
                        <h3>Lorem ipsum dollor sit amet?</h3>
                        <p>
                            aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div><!--faq box-->
                </div>
                 <div class="col-md-12 margin-btm-20">
                    <div class="price-faq-box">
                        <h3>Lorem ipsum dollor sit amet?</h3>
                        <p>
                            aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div><!-- faq box-->
                </div>
                 <div class="col-md-12 margin-btm-20">
                    <div class="price-faq-box">
                        <h3>Lorem ipsum dollor sit amet?</h3>
                        <p>
                            aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div><!-- faq box-->
                </div>
            </div>
            <div class="space-40"></div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="heading-mini">More Questions</h4>
                </div>
                <div class="col-md-12">
                     <!--accordions start-->
             <!-- List Accordion -->
    <div class="card-accordion card-accordion-simple card-accordion-icons-left mb80" id="card-accordion-simple" role="tablist" aria-multiselectable="true">
      <!-- Card 1 -->
      <div class="card">
        <div class="card-header accordion-header" role="tab" id="headingOne2"> <a data-toggle="collapse" data-parent="#card-accordion-simple" href="#collapseOneList" aria-expanded="true" aria-controls="collapseOne"> Collapsible Group Item #1 </a> </div>
        <div id="collapseOneList" class="collapse show" role="tabpanel" aria-labelledby="headingOne1">
          <div class="card-block">Abico dignissim eum gilvus modo refero utrum vel velit. Erat et meus nibh paulatim praesent suscipere.</div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="card">
        <div class="card-header accordion-header" role="tab" id="headingTwo2"> <a class="collapsed" data-toggle="collapse" data-parent="#card-accordion-simple" href="#collapseTwoList" aria-expanded="false" aria-controls="collapseTwo"> Collapsible Group Item #2 </a> </div>
        <div id="collapseTwoList" class="collapse" role="tabpanel" aria-labelledby="headingTwo2">
          <div class="card-block">Incassum paratus similis virtus. Commoveo consectetuer dolor euismod olim quae saepius tego utinam. Aliquam commodo consequat dolore enim eum ex mauris mos valetudo.</div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="card">
        <div class="card-header accordion-header" role="tab" id="headingThree2"> <a class="collapsed" data-toggle="collapse" data-parent="#card-accordion-simple" href="#collapseThreeList" aria-expanded="false" aria-controls="collapseThree"> Collapsible Group Item #3 </a> </div>
        <div id="collapseThreeList" class="collapse" role="tabpanel" aria-labelledby="headingThree3">
          <div class="card-block">Abbas at brevitas illum pneum quibus refero si. Euismod ille jumentum lucidus mos pertineo plaga suscipere venio vulputate.</div>
        </div>
      </div>
    </div>

            <!--accordions end-->
                </div>
            </div>
        </div><!--faqs row end-->
        <div class="col-md-4 ml-auto" style="display: none;">
            <div class="sidebar-box">
                <div class="widget-search">
                    <form class="search-form">
                        <input class="form-control" placeholder="search here..." type="text">
                        <i class="ion-search" data-toggle="tooltip" data-placement="top" title="" data-original-title="hit enter to search"></i>
                    </form>
                </div>
            </div><!--sidebar-box--><hr>
            <div class="sidebar-box">
                <h4>Did you know?</h4>
                <p>
                    Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis dentibea autem inisita.
                </p>
            </div><hr>
            <div class="sidebar-box">
                <h4>Newsletter</h4>
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email..">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg theme-btn-color">Subscribe</button>
                    </div>
                </form>
            </div><hr>
           
        </div><!--sideabr end-->
    </div>
</div>

<div class="space-70"></div>
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 margin-btm-20">
                <div class="footer-col">
                    <h3>Bizwrap</h3>
                    <p>
                        aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    </p>
                </div>
                <div class="space-20"></div>
                <div class="footer-col">
                    <h3>contact info</h3>
                    <p><i class="ion-home"></i> pearl tower,3rd floor,jaipur,302012</p>
                    <p><i class="ion-iphone"></i> +91 9887568614</p>
                    <p><i class="ion-email"></i> mail@domain.com</p>
                </div>
                <div class="space-20"></div>
                <div class="footer-col">
                    <h3>Follow us</h3>
                    <ul class=" list-inline social-btn">
                        <li class="list-inline-item"><a href="#"><i class="ion-social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like On Facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ion-social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ion-social-googleplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On googleplus"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ion-social-pinterest" data-toggle="tooltip" data-placement="top" title="" data-original-title="pinterest"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ion-social-skype" data-toggle="tooltip" data-placement="top" title="" data-original-title="skype"></i></a></li>
                    </ul>
                </div><!--footer social col-->
            </div><!--col-4 end-->
            <div class="col-md-3 margin-btm-20">
                <div class="footer-col">
                    <h3>Latest post</h3>
                    <ul class="post-list list-unstyled">
                        <li><a href="#" class="hover-color">Blog post with image</a></li>
                        <li><a href="#" class="hover-color">lorem ipsum dollor sit amet</a></li>
                        <li><a href="#" class="hover-color">Blog post with audio</a></li>
                        <li><a href="#" class="hover-color">lorem ipsum dollor sit amet</a></li>
                        <li><a href="#" class="hover-color">Blog post with quote</a></li>
                    </ul>
                </div>
            </div><!--latest post col end-->
            <div class="col-md-5">
                <div class="footer-col">
                    <h3>Get in touch</h3>
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Name...">
                            </div>
                            <div class="col-md-6">
                                <input type="email" class="form-control" placeholder="Email...">
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Subject...">
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control" placeholder="Massage..." rows="7"></textarea>
                            </div>
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-lg btn-white">Send massege</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!--get in touch col end-->
        </div><!--footer main row end-->  
        <div class="space-70"></div>
        <div class="row">
            <div class="col-md-12 text-center footer-bottom">
                <a href="index.html"> <img src="assets/img/logo-white.png" alt=""></a>
                <div class="space-20"></div>
                <span>&copy;2017. All right reserved. Design by design_mylife</span>
            </div>
        </div><!--footer copyright row end-->
    </div><!--container-->
</div><!--footer main end-->
<!--back to top-->
<a href="#" class="scrollToTop"><i class="ion-android-arrow-dropup-circle"></i></a>
<!--back to top end-->