<div class="card p-5">
    <div class="text-center">
        <span style="font-size: 64px;"><fa-icon class="mr-1" [icon]="['fas', 'check-circle']"></fa-icon></span>
        <p *ngIf="exam">
            ¡Felicitaciones! aprobaste el simulacro satisfactoriamente con <b> {{ exam.percentage }}%</b>
        </p>
        <button type="button" (click)="cerrar()" class="btn btn-primary" routerLink="/simulacrum/login"><fa-icon class="mr-1" [icon]="['fas', 'sign-out-alt']"></fa-icon>Cerrar</button>
    </div>

</div>