<div class="row">
  <div class="col-12">
    <div class="pt-2 pb-4">
      Estudiantes: {{ (users.length) }}
    </div>
  </div>
  <div class="col-12">
    <table class="table">
      <thead>
      <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">Id</th>
        <th scope="col">Nombre completos</th>
        <th scope="col">Correo</th>
        <th scope="col">Fecha Reg.</th>
        <th scope="col">Aprobada</th>
        <th scope="col">Plan</th>
        <th scope="col">Fecha Exp.</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users; let i = index;">
        <th>{{(i + 1)}}</th>
        <th>{{user.key}}</th>
        <td>
          {{user.displayName}}
        </td>
        <td>{{user.email}}</td>
        <td>{{user.createdAt.split("T")[0]}}</td>
        <td>{{(user.emailVerified)? 'SI' : 'NO'}}</td>
        <td>{{findCategoryLabel(user.planAssigned)}}</td>
        <td>{{formatDate(user.planDateExpiration)}}</td>
        <td>
          <button type="button" (click)="open(content, i)" class="btn btn-info">
            <fa-icon class="mr-0" [icon]="['fas', 'pen']"></fa-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <div class="text-center w-100" id="modal-basic-title">{{user.displayName}} ({{user.email}})</div>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Cuenta aprobada</label>
        <select class="form-control" [(ngModel)]="user.emailVerified" [ngModelOptions]="{standalone: true}">
          <!-- <option value="0">-- Seleccione --</option> -->
          <option value="true">Si</option>
          <option value="false">No</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Plan</label>
        <select class="form-control" [(ngModel)]="user.planAssigned" (change)="selectPlan()" [ngModelOptions]="{standalone: true}"> 
          <!-- <option value="0">-- Seleccione --</option> -->
          <option [value]="plan.uuid" *ngFor="let plan of plans; let i = index;">{{plan.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Fecha de expiración</label>
        <input class="form-control" disabled type="text" [(ngModel)]="user.planDateExpiration" [ngModelOptions]="{standalone: true}">
        <!-- <button type="button" [disabled]="(!user.planAssigned)" class="btn btn-warning mt-2" (click)="updatePlan()">
          <fa-icon *ngIf="enabledSpinnerUpPlanExp" class="mr-2 h6" [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon>
          Actualizar plan
        </button> -->
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Productos</label>
        <div>
          <div class="custom-control custom-checkbox" *ngFor="let category of categories; let i = index;" >
            <input type="checkbox" class="custom-control-input" [disabled]="(!user.planAssigned)" (change)="checkProductsByUser()" [id]="'customCheck' + i" [value]="category.clientKey">
            <label class="custom-control-label" [for]="'customCheck' + i">{{ (i + 1) }}. {{category.name.toUpperCase()}}</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Idioma de preferencia</label>
        <select class="form-control" [(ngModel)]="user.settingLanguage" [ngModelOptions]="{standalone: true}">
          <option value="ES">Sólo Español(ES)</option>
          <option value="EN">Sólo Inglés(EN)</option>
          <option value="BOTH">Ambas</option>
        </select>
      </div>
      <!-- <div class="form-group">
        <label for="exampleInputPassword1">Fecha de expiración</label>
        <input class="form-control" disabled type="text" [(ngModel)]="user.planDateExpiration" [ngModelOptions]="{standalone: true}">
        <button type="button" *ngIf="user.planDateExpiration != '' && user.planAssigned > 0" [disabled]="enabledSpinnerUpPlanExp" class="btn btn-warning mt-2" (click)="updatePlan()">
          <fa-icon *ngIf="enabledSpinnerUpPlanExp" class="mr-2 h6" [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon>
          Actualizar plan
        </button>
        <button type="button" *ngIf="user.planDateExpiration == '' && user.planAssigned > 0" [disabled]="enabledSpinnerUpPlanExp" class="btn btn-success mt-2" (click)="activePlan()">
          <fa-icon *ngIf="enabledSpinnerUpPlanExp" class="mr-2 h6" [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon>
          Activar Plan
        </button>
      </div> -->
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" [disabled]="enabledSpinnerUpPlan" (click)="saveData()" class="btn btn-outline-dark">
      <fa-icon *ngIf="enabledSpinnerUpPlan" class="mr-2 h6" [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon>Guardar
    </button>
    <button type="button" (click)="modal.dismiss('Cross click')" class="btn btn-outline-dark">
      <fa-icon *ngIf="enabledSpinnerUpPlan" class="mr-2 h6" [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon>Cerrar
    </button>
  </div>
</ng-template>

  