<div class="d-block">
    <div class="row mb-4">
      <div class="col-12">
        <div class="btn-group" role="group" aria-label="Basic example">
          <!-- <button type="button" class="btn btn-info"><fa-icon class="mr-1" [icon]="['fas', 'plus-circle']"></fa-icon>
            Nuevo Usuario
          </button> -->
        </div>
      </div>

    </div>

  </div>
  
  <div class="list-group">
    <li class="list-group-item active bg-info text-white">N° usuarios: 15 </li>
    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-block">
        <div class="row">
          <div class="col-9">
            <div class="d-inline-block mr-0" style="vertical-align: top;">
              <div>Nombre: <span><b>Juan Rodas</b></span></div>
              <div>Correo: <span><b>jrodas@analytics.pe</b></span></div>
              <div>Plan: <span><b>Plan A</b></span></div>
              <div>Cuenta aprobada: <span><b>Si</b></span></div>
            </div>
          </div>
          <div class="col-3">
            <div class="text-right">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" (click)="open(content, null)" class="btn btn-info"><fa-icon class="mr-0" [icon]="['fas', 'pen']"></fa-icon></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-block">
        <div class="row">
          <div class="col-9">
            <div class="d-inline-block mr-0" style="vertical-align: top;">
              <div>Nombre: <span><b>Juan Rodas</b></span></div>
              <div>Correo: <span><b>jrodas@analytics.pe</b></span></div>
              <div>Plan: <span><b>Plan A</b></span></div>
              <div>Cuenta aprobada: <span><b>Si</b></span></div>
            </div>
          </div>
          <div class="col-3">
            <div class="text-right">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" (click)="open(content, null)" class="btn btn-info"><fa-icon class="mr-0" [icon]="['fas', 'pen']"></fa-icon></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #content let-modal>
    <div class="modal-header">
      <div class="text-center w-100" id="modal-basic-title">juan.rodas.manez@gmail.com</div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Cuenta aprobada</label>
          <select class="form-control" [(ngModel)]="userInfo.emailVerified" [ngModelOptions]="{standalone: true}">
            <option>-- Seleccione --</option>
            <option value="true">Si</option>
            <option value="false">No</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Plan</label>
          <select class="form-control" [(ngModel)]="userInfo.planAssigned" [ngModelOptions]="{standalone: true}"> 
            <!-- /* planAssigned */ -->
            <option>-- Seleccione --</option>
            <option value="1">Plan A</option>
            <option value="2">Plan B</option>
            <option value="3">Plan C</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Fecha de expiración</label>
          <input class="form-control" disabled type="text" [(ngModel)]="userInfo.planDateExpiration" [ngModelOptions]="{standalone: true}">
          <button type="submit" [disabled]="enabledSpinnerUpPlanExp" class="btn btn-primary mt-2" (click)="updatePlan()">
            <fa-icon *ngIf="enabledSpinnerUpPlanExp" class="mr-2 h6" [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon>
            Actualizar plan
          </button>
        </div>
        

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" [disabled]="enabledSpinnerUpPlan" (click)="saveData()" class="btn btn-outline-dark">
        <fa-icon *ngIf="enabledSpinnerUpPlan" class="mr-2 h6" [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon>
        Guardar</button>
      {{ userInfo | json }}
    </div>
  </ng-template>

  