<div class="d-block">
  <div class="row mb-4">
    <div class="col-12">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" (click)="ir($event)" class="btn btn-info"><fa-icon class="mr-1" [icon]="['fas', 'plus-circle']"></fa-icon>Nueva pregunta</button>
        <!-- <button type="button" class="btn btn-danger"> <fa-icon class="mr-1" [icon]="['fas', 'trash']"></fa-icon>Eliminar</button> -->
      </div>
    </div>
    <!-- <div class="col-2">
      
    </div> -->
    

    <!-- <div class="col-2">
      <button type="button" class="btn btn-primary mr-2" (click)="ir($event)">
        <fa-icon class="mr-1" [icon]="['fas', 'plus']"></fa-icon>Crear
      </button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary mr-2" (click)="ir($event)">
        <fa-icon class="mr-1" [icon]="['fas', 'trash']"></fa-icon>Eliminar
      </button>
    </div> -->
  </div>
  <div class="row mb-4">
    <div class="col-3">
      <label>Ver por el idioma</label>
      <select [disabled]="inProgressSelect" class="form-control"[(ngModel)]="idioma" (change)="filter($event, 'category')">
        <option value="1">ES(Español)</option>
        <option value="2">EN(Inglés)</option>
      </select>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-3">
      <div>
        <label>Por Categoria</label>
        <select [disabled]="inProgressSelect" class="form-control" id="exampleFormControlSelect1" [(ngModel)]="filters.category" (change)="filter($event, 'category')">
          <option value="">Todos</option>
          <option [value]="category.clientKey" *ngFor="let category of categories; let i = index;">{{ category.name }}</option>
        </select>
      </div>
    </div>
    <div class="col-3">
      <div>
        <label>Tipo</label>
        <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="filters.typeAnswerKey" (change)="filter($event, 'type')">
          <option value="">Todos</option>
          <option [value]="typeQuestion.key" *ngFor="let typeQuestion of typesQuestions; let i = index;">{{ typeQuestion.name }}</option>
        </select>
      </div>
    </div>
    <div class="col-3">
      <div>
        <label>Traducido</label>
        <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="filters.isTranslate" (change)="filter($event, 'translate')">
          <option value="">Todos</option>
          <option value="1">Si</option>
          <option value="0">No</option>
        </select>
      </div>
    </div>
    <div class="col-3">
      <div>
        <label>Justificación</label>
        <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="filters.isJustification" (change)="filter($event, 'justification')">
          <option value="">Todos</option>
          <option value="1">Si</option>
          <option value="0">No</option>
        </select>
      </div>
    </div>
  </div>
</div>



<!-- <div class="dropdown mr-2" style="display: inline-block;">
    <button class="btn btn-primary dropdown-toggle" [disabled]="selectedItemForDeleteArr.length > 0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ({{ selectedItemForDeleteArr.length }}) Seleccionadas
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="javascript:void(0)" (click)="deleteAll($event)"><fa-icon class="mr-1" [icon]="['fas', 'trash']"></fa-icon> Eliminar</a>
      <a class="dropdown-item" href="javascript:void(0)" (click)="inactiveAll($event)"><fa-icon class="mr-1" [icon]="['fas', 'ban']"></fa-icon> Deshabilitar</a>
      <a class="dropdown-item" href="javascript:void(0)" (click)="ActiveAll($event)"><fa-icon class="mr-1" [icon]="['fas', 'check']"></fa-icon> Habilitar</a>
    </div>
  </div>

  <div class="dropdown" style="display: inline-block;">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <fa-icon class="mr-1" [icon]="['fas', 'filter']"></fa-icon> Filtrar Por
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="javascript:void(0)" (click)="filter('ALL')">Todas</a>
      <a class="dropdown-item" href="javascript:void(0)" (click)="filter('H')">Habilitadas</a>
      <a class="dropdown-item" href="javascript:void(0)" (click)="filter('D')">Deshabilitadas</a>
    </div>
  </div> -->

<!-- <br><br> -->
<!--<div class="alert alert-dismissible alert-success" *ngIf="message && message.hide === false" (click)="message.hide = true">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Well done!</strong> {{ message.message }}
</div> -->

<div *ngIf="inProgress == true" class="text-center">
    <fa-icon [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon>
</div>

<div class="list-group" *ngIf="inProgress == false">
  <li class="list-group-item active bg-info text-white">N° Total de Preguntas: {{ resultFilter.length }} </li>

  <div href="#" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let question of resultFilter; let i = index;">
    <div class="d-block">
      <div class="d-inline-block mr-2" style="
      vertical-align: top;
  ">
        <!-- <input type="checkbox" class="mr-2 checkboxDelete" name="checkbox" id="checkboxDelete" [value]="question.key" (change)="selectedItemForDelete($event)"> -->
        <!-- {{ (i + 1) }}.  -->
      </div>
      <div class="d-inline-block">
        <p *ngIf="idioma == '1'">{{ question.question }}</p>
        <p *ngIf="idioma == '2'">{{ question.questionEn }}</p>
      </div>
      
    </div>
    <div class="d-inline-block w-50 text-left">
      <div>Tipo: <span><b>{{ question.typeAnswer }}</b></span></div>
      <div>Disponible: <span *ngIf="question.state == false"><b>No</b></span><span *ngIf="question.state !== false"><b>Si</b></span></div>
      <div>Traducido: <span><b>{{ (question.isTranslate == '1')? 'Si' : 'No'  }}</b></span></div>
      <div>Con justificación: <span><b>{{ (question.isJustification == '1')? 'Si' : 'No'  }}</b></span></div>
      <div>Id: <span><b>{{ question.key }}</b></span></div>
    </div>
    <div class="d-inline-block w-50 text-right">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" (click)="form(question.key, $event)" class="btn btn-info"><fa-icon class="mr-0" [icon]="['fas', 'pen']"></fa-icon></button>
        <!-- <button type="button" class="btn btn-danger"> <fa-icon class="mr-1" [icon]="['fas', 'trash']"></fa-icon></button> -->
      </div>
    </div>
  </div>
</div>

