<form [formGroup]="formGroup" enctype="multipart/form-data">
    <div class="card border-secondary">
        <div class="card-header">
            <fa-icon class="mr-1" [icon]="['fas', 'users']"></fa-icon> Usuario</div>
        <div class="card-body">
            <div class="form-group">
                <label class="control-label" for="disabledInput">Nombres y Apellidos: </label>
                <input type="text" class="form-control" id="disabledInput" formControlName="displayName" placeholder="Ingrese el nombre de usuario">
            </div>
            <div class="form-group">
                <label class="control-label" for="disabledInput">Email: </label>
                <input type="email" class="form-control" id="disabledInput" formControlName="email" placeholder="Ingrese el correo electrónico">
            </div>
            <!-- <div class="form-group">
                <label class="control-label" for="disabledInput">Password: </label>
                <input type="password" class="form-control" id="disabledInput" formControlName="password" placeholder="Ingrese la contraseña">
            </div> -->
            <div class="form-group">
                <label class="control-label" for="disabledInput">Rol: </label>
                <select class="custom-select" formControlName="role">
                    <option selected="">Rol</option>
                    <option value="USER_ADMIN">Administrador</option>
                    <option value="USER_STUDENT" selected="selected">Estudiante</option>
                </select>
            </div>
            <!-- <div class="form-group">
                <label class="control-label" for="disabledInput">Prueba Asignada: </label>
                <select class="custom-select" formControlName="assignedTests">
                    <option disabled selected value="">Examen</option>
                    <option [value]="category.key" *ngFor="let category of categories; let i = index;">{{ category.name }}</option>
                </select>
            </div> -->
            <!-- <label class="control-label" for="disabledInput">Prueba Asignada: </label>
            <div class="form-group">
                <div class="custom-control custom-checkbox" *ngFor="let category of categories; let i = index;">
                    <input type="checkbox" formControlName="assignedTests" class="custom-control-input" [id]="'customCheck' + category.key">
                    <label class="custom-control-label" [for]="'customCheck' + category.key">{{ category.name }}</label>
                </div>
            </div> -->

            <div class="form-group">
                <label for="exampleSelect2">Prueba Asignada: </label>
                <select multiple="" class="form-control" id="exampleSelect2" formControlName="assignedTests">
                    <option [value]="category.key" *ngFor="let category of categories; let i = index;">{{ category.name }}</option>
                </select>
            </div>

        </div>

        <div class="card-footer">
            <button type="button" class="btn btn-info mr-2" routerLink="/users/list"><fa-icon class="mr-1" [icon]="['fas', 'arrow-circle-left']"></fa-icon>Retornar</button>
            <button type="button" class="btn mr-2 btn btn-primary" (click)="done()"><fa-icon class="mr-1" [icon]="['fas', 'save']"></fa-icon>Guardar</button>
        </div>
    </div>
</form>