<app-nav></app-nav>
<div class="container-fluid">
  <div class="row">
      <!-- <app-sidebar></app-sidebar> -->
      <!-- col-md-12  -->
      <!--  -->
      <main role="main" class="ml-sm-auto px-md-4 col-lg-12">
          <!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" >
            <h1 class="h5 text-info">
              <span class="mr-2 yta-text" *ngIf="category">{{ category.name }}</span> 
              <fa-icon *ngIf="progressService" class="mr-2 h6" [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon>
            </h1>
          </div> -->
          <ngb-alert [type]="'success'" *ngIf="dismissible"><fa-icon [icon]="['fas', 'check']" class="mr-2"></fa-icon>Opción guardada correctamente</ngb-alert>
          <div *ngIf="progressService">
            <fa-icon class="mr-2 h6" [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon>
          </div>

          <div class="row" *ngIf="!progressService">
            <div class="col-12">
              <div class="row">
                <div class="col-12 p-0">
                  <div class="exam-inprogress pt-2">
                    <span>Tiempo restante: <span id="timer"></span>  </span>
                    <ngb-progressbar height="5px" type="info" [value]="totalPorcertange" [max]="100" [striped]="true" [animated]="true" [showValue]="false"></ngb-progressbar>
                  </div>
                </div>

                <div class="col-12 p-0">
                  <div class="exam-question-options pb-3 mb-0 pt-3">
                    <a href="javascript:void(0)" (click)="showAllPopup(content)" class="d-inline-block yta-text">
                      <fa-icon class="mr-2 h6" [icon]="['fas', 'list-ol']"></fa-icon>Ver todas las preguntas
                    </a>
                  </div>
                </div>

                <div class="col-12 p-0">
                  <div class="exam-quesion-header mb-2 text-info d-flex">
                    <div class="col-6 text-left p-0 m-0" >

                      <span class="badge badge-pill badge-primary exam-badge-title p-2 mr-2">Pregunta {{(orderQuestion+1)}} de {{questions.length}}</span>
                      <span (click)="translate()"  class="badge badge-pill badge-light p-2 mr-2" placement="top" ngbTooltip="Traduce la pregunta" [ngClass]="{'active-traslate': isTraslate}" >
                        <a href="javascript:void(0)" class="exam-button-language" href="javascript:void(0)" >
                          <fa-icon class="pr-1" [icon]="['fas', 'eye']"></fa-icon>Traducir
                        </a>
                      </span>

                      <span class="d-inline-flex">
                        <fa-icon *ngIf="saveOption" [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon>
                      </span>

                    </div>
                    <div class="col-6 text-right p-0 m-0">
                      <div>
                        <a href="javascript:void(0)" (click)="addBookMarks(question, orderQuestion)" placement="left" ngbTooltip="Guardar">
                          <fa-icon class="mr-2 h6" [icon]="[(question.marked == true)? 'fas' : 'far', 'bookmark']"></fa-icon>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="exam-question-body pt-0">
                    <p class="pt-2 pb-0 mb-0" *ngIf="settingLanguage=='EN'">
                      {{ question.questionEn }}
                    </p>
                    <p class="pt-2 pb-0 mb-0" *ngIf="settingLanguage=='ES'">
                      {{ question.question }}
                    </p>
                    <p class="pt-2 pb-0 mb-0" *ngIf="settingLanguage=='BOTH'">
                      <span *ngIf="!isTraslate">{{ question.questionEn }}</span>
                      <span *ngIf="isTraslate">{{ question.question }}</span>
                    </p>
                  </div>

                  <div class="exam-question-answers">
                    <div *ngIf="question.answers && question.answers.length">
                      <div class="pl-4 pr-4 pt-2 pb-2">
                        <div class="form-check mb-3" *ngFor="let answer of question.answers; let i = index;">
                          <input [disabled]="saveOption" class="form-check-input" [checked]="(answer.checked == true)? answer.checked : null" (change)="checkedOption($event, question.answers, question, orderQuestion, i)" [type]="getTypeAnswer(question.typeAnswer)" [name]="'option_' + orderQuestion" [id]="'option_' + orderQuestion + '_' + i">
                          
                          <label class="d-inline-flex form-check-label w-100" [for]="'option_' + orderQuestion + '_' + i">
                            <span class="d-inline-flex pr-2">{{ alphabeticalOrder[i] }})</span>
                            <div class="d-inline-flex" *ngIf="question.typeAnswer == 'TRUE_OR_FALSE' && answer.value == true "> 
                              True
                            </div>
                            <div class="d-inline-flex" *ngIf="question.typeAnswer == 'TRUE_OR_FALSE' && answer.value == false "> 
                              False
                            </div>
                            <div class="d-inline-flex" *ngIf="question.typeAnswer != 'TRUE_OR_FALSE'"> 
                              <span *ngIf="!isTraslate">{{ answer.nameEn }}</span>
                              <span *ngIf="isTraslate">{{ answer.name }}</span>
                            </div>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>


            <div class="col-12 p-0">
              <div class="mt-1" id="collapseExample" [ngbCollapse]="isCollapsed">
                <div class="border border-dark p-3 highlight" *ngIf="question.questionEn">
                  <p class="mb-0" *ngIf="settingLanguage=='EN'">
                    {{ question.questionEn }}
                  </p>
                  <p class="mb-0" *ngIf="settingLanguage=='ES'">
                    {{ question.question }}
                  </p>
                  <p class="mb-0" *ngIf="settingLanguage=='BOTH'">
                    {{ question.question }}
                  </p>
                   <div class="mb-1 mt-1">
                    <span *ngIf="question.typeAnswer == 'MULTIPLE_ANSWER'">(Elija varias opciones)</span>
                    <span *ngIf="question.typeAnswer != 'MULTIPLE_ANSWER'">(Elija solo una opción)</span>
                  </div>
                </div>

                <div *ngIf="question.answers && question.answers.length">
                  <div class="border border-dark p-3">
                    <div class="form-check pl-0 mb-3" *ngFor="let answer of question.answers; let i = index;">
                      <label class="form-check-label w-100 ">
                        <div class="d-inline-block"> 
                          - {{ answer.name }}
                        </div>
                      </label>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-12 p-0" *ngIf="(orderQuestion + 1) === questions.length">
              <div class="w-100 mt-2 mb-2">
                <button type="button" class="btn btn-warning" (click)="endExam(questions)">Terminar evaluación</button>
              </div>
            </div>

            <div class="col-12 p-0">
              <div class="d-flex">
                <div class="w-50 text-left">
                  <button (click)="lastQuestion()"  [disabled]="disabledButtonLast || (orderQuestion + 1) === 1" class="btn btn-success text-uppercase exam-button-slider">
                    <fa-icon class="pr-1" [icon]="['fas', 'caret-left']"></fa-icon>
                    Anterior
                  </button>
                </div>
                <div class="w-50 text-right">
                  
                  <button (click)="nextQuestion()" [disabled]="disabledButtonNext || (orderQuestion + 1) === questions.length" class="btn btn-success text-uppercase exam-button-slider">
                    Siguiente
                    <fa-icon class="pl-1" [icon]="['fas', 'caret-right']"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>

      </main>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="exam-modal-body">
      <a class="exam-modal-tab" id="ALL-QUESTIONS" href="javascript:void(0)" (click)="showQuestionsForType('ALL_QUESTIONS')">
        <fa-icon class="mr-2 h6" [icon]="['fas', 'list-ol']"></fa-icon>
        All Questions
      </a>
      <a class="exam-modal-tab" id="BOOKMARKED" href="javascript:void(0)" (click)="showQuestionsForType('BOOKMARKED')">
        <fa-icon class="mr-2 h6" [icon]="['fas', 'bookmark']"></fa-icon>
        Bookmarked ({{countBookMarked}})
      </a>
    </div>
    
    <div class="exam-modal-questions">
      <ul>
        <li class="pb-2 pr-2" *ngFor="let question of popupShowQuestions; let i = index;">
          <div class="d-inline-flex w-100 pb-2">
            <div class="w-75"><a href="javascript:void(0)" (click)="goQuestion(question['data']['numQuestion'])">Question {{(question['data']['numQuestion'])}}</a></div>
            <div class="w-15"><span *ngIf="question['data']['isAnswered'] === true">Respondido</span></div>
          </div>
        </li>
      </ul>
    </div>

  </div>
  <div class="modal-footer">
    
  </div>
</ng-template>