<!--footer-->

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 margin-btm-10">
                <div class="footer-col">
                    <a href="#home"> 
                        <img src="assets/img/logo-white.png" alt="">
                    </a>
                    <p class="logo">
                        <a href="https://www.facebook.com">
                            <i class="fa fa-facebook-official mr-4" aria-hidden="true"></i>
                        </a>
                        <a href="https://pe.linkedin.com/">
                            <i class="fa fa-linkedin-square mr-4" aria-hidden="true"></i>
                        </a>
                        <a href="https://pe.linkedin.com/">
                            <i class="fa fa-instagram mr-4" aria-hidden="true"></i>
                        </a>
                    </p>
                    <div class="pt-4">
                        <p>
                            Contáctate con nosotros para gestionar tu inscripción
                        </p>
                        <p class="mb-2">
                            <a href="mailto:info@yourtrustedadvisor.com">
                                <i class="fa fa-envelope-o  mr-1" aria-hidden="true"></i>
                                info@yourtrustedadvisor.com
                            </a>
                        </p>
                        <p class="p-0 m-0 pb-2 pt-2">ó</p>
                        <p class="mb-4">
                            <a href="https://wa.me/+51992394194/?text=Hola deseo incribirme" class="btn btn-radius" style="background-color: #4dc247 !important;
                            width: 25%;">
                                <i class="fa fa-whatsapp mr-1" aria-hidden="true" style="font-size: 1.5em;vertical-align: middle;"></i>
                                +51 992 394 194
                            </a>
                        </p>
                        <p>
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#terminos_condiciones">Terminos y condiciones de uso</a>
                        </p>

                         <!-- Modal -->
                        <div class="modal fade" id="terminos_condiciones" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h4 class="modal-title text-center" id="exampleModalLabel" style="text-align: center !important; width: 100%; color: #000000 !important;">Términos y condiciones</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body" style="font-size: 12px !important;">
                                    <p>
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus dolorem in illum eum blanditiis ea laborum ipsum accusantium consequuntur, libero, deleniti explicabo ducimus fugit totam odio, et odit assumenda quae.
                                    </p>
                                    <p>
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus dolorem in illum eum blanditiis ea laborum ipsum accusantium consequuntur, libero, deleniti explicabo ducimus fugit totam odio, et odit assumenda quae.
                                    </p>
                                    <p>
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus dolorem in illum eum blanditiis ea laborum ipsum accusantium consequuntur, libero, deleniti explicabo ducimus fugit totam odio, et odit assumenda quae.
                                    </p>
                                    <p>
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus dolorem in illum eum blanditiis ea laborum ipsum accusantium consequuntur, libero, deleniti explicabo ducimus fugit totam odio, et odit assumenda quae.
                                    </p>
                                    <p>
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus dolorem in illum eum blanditiis ea laborum ipsum accusantium consequuntur, libero, deleniti explicabo ducimus fugit totam odio, et odit assumenda quae.
                                    </p>
                                    <p>
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus dolorem in illum eum blanditiis ea laborum ipsum accusantium consequuntur, libero, deleniti explicabo ducimus fugit totam odio, et odit assumenda quae.
                                    </p>
                                    <p>
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus dolorem in illum eum blanditiis ea laborum ipsum accusantium consequuntur, libero, deleniti explicabo ducimus fugit totam odio, et odit assumenda quae.
                                    </p>
                                </div>
                                <!-- <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                                </div> -->
                            </div>
                            </div>
                        </div>

                        <div class="space-70"></div>
                        <hr>
                        <p>
                            <span>Copyright &copy;2020 YourtrustedAdvisor. Designed YourtrustedAdvisor</span>
                        </p>
                        
                    </div>
                </div>

            </div><!--col-4 end-->
            
        </div>
    </div><!--container-->
</div><!--footer main end-->
<!--back to top-->
<a href="#" class="scrollToTop"><i class="ion-android-arrow-dropup-circle"></i></a>
<!--back to top end-->
<div class="use-cookies" *ngIf="!isAcceptCookies">
    <p>
        Usamos cookies para mejorar su experiencia en nuestro sitio y mostrarle publicidad relevante.
    </p>
    <a href="#" (click)="acceptCookies()" class="btn btn-success">Acepto</a>
</div>