<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-uppercase">Simulacros Disponibles (2)</h5>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action pl-0 pr-0" style="display: flex;">
                    <div class="col-10">
                        1. PSM
                        <p class="mb-1"><small><fa-icon class="mr-1" [icon]="['fas', 'list-ul']"></fa-icon> 80 preguntas <br> <fa-icon class="mr-1" [icon]="['fas', 'clock']"></fa-icon>Duración 60 Minutos</small></p>
                    </div>
                    <div class="col-2 text-right">
                        <button type="button" class="btn btn-primary" routerLink="/simulacrum/exam"><fa-icon class="mr-1" [icon]="['fas', 'play']"></fa-icon>Iniciar</button>
                    </div>
                </li>
                <li class="list-group-item list-group-item-action pl-0 pr-0" style="display: flex;">
                    <div class="col-10">
                        2. PMI ACP
                        <p class="mb-1"><small><fa-icon class="mr-1" [icon]="['fas', 'list-ul']"></fa-icon> 120 preguntas <br> <fa-icon class="mr-1" [icon]="['fas', 'clock']"></fa-icon>Duración 2 horas</small></p>
                    </div>
                    <div class="col-2 text-right">
                        <button type="button " class="btn btn-primary" routerLink="/simulacrum/exam"><fa-icon class="mr-1" [icon]="['fas', 'play']"></fa-icon>Iniciar</button>
                    </div>
                </li>
            </ul>
            <div class="mt-4">
                <button type="button" class="btn btn-primary mr-2" routerLink="/simulacrum/login"><fa-icon class="mr-1" [icon]="['fas', 'sign-out-alt']"></fa-icon>Cerrar</button>
            </div>
        </div>
    </div>
</div>