<div class="card border-secondary">
    <div class="card-header">
        <fa-icon class="mr-1" [icon]="['fas', 'list']"></fa-icon>Simulacros Disponibles ({{ categories.length }})
    </div>
    <div class="card-body">
        <!-- <h5 class="card-title text-uppercase">Simulacros Disponibles (2)</h5> -->
        <ul class="list-group">
            <li class="list-group-item list-group-item-action pl-0 pr-0" style="display: flex;" *ngFor="let category of categories">
                <div class="col-10">
                    {{ category.name }}
                    <p class="mb-1">
                        <small>
                            <fa-icon class="mr-1" [icon]="['fas', 'list-ul']"></fa-icon> {{ category.totalQuestions }} preguntas <br> 
                            <fa-icon class="mr-1" [icon]="['fas', 'clock']"></fa-icon>Duración {{ category.durationTimeMM }} Minutos
                        </small>
                    </p>
                </div>
                <div class="col-2 text-right">
                    <button type="button" class="btn btn-primary" (click)="startExam(category)">
                        <fa-icon class="mr-1" [icon]="['fas', 'play']"></fa-icon>Iniciar
                    </button>
                </div>
            </li>
        </ul>
        <!-- <div class="mt-4">
            
        </div> -->
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary mr-2" (click)="logout()"><fa-icon class="mr-1" [icon]="['fas', 'sign-out-alt']"></fa-icon>Cerrar Sesión</button>
    </div>
</div>