<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active pl-2 pr-2 text-info" href="#">
      <fa-icon class="mr-2" [icon]="['fas', 'file-alt']"></fa-icon>
      <span class="d-inline-block w-75" >Examenes disponibles</span>
      <span class="d-inline-block"><fa-icon class="mr-1" [icon]="['fas', 'chevron-right']"></fa-icon></span>
    </a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link active pl-2 pr-2 text-info" href="#">
      <fa-icon class="mr-2" [icon]="['fas', 'file-alt']"></fa-icon>
      <span class="d-inline-block w-75" >Historial de resultados</span>
      <span class="d-inline-block"><fa-icon class="mr-1" [icon]="['fas', 'chevron-right']"></fa-icon></span>
    </a>
  </li> -->
</ul>