<ul class="nav flex-column">
  <li class="nav-item" *ngIf="userData.role == 'USER_STUDENT'">
    <a class="nav-link active pl-2 pr-2 text-info" href="#" [routerLink]="'/exams'">
      <fa-icon class="mr-2" [icon]="['fas', 'file-alt']"></fa-icon>
      <span class="d-inline-block w-75" >Examenes disponibles</span>
      <span class="d-inline-block"><fa-icon class="mr-1" [icon]="['fas', 'chevron-right']"></fa-icon></span>
    </a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link active pl-2 pr-2 text-info" href="#">
      <fa-icon class="mr-2" [icon]="['fas', 'file-alt']"></fa-icon>
      <span class="d-inline-block w-75" >Categorias</span>
      <span class="d-inline-block"><fa-icon class="mr-1" [icon]="['fas', 'chevron-right']"></fa-icon></span>
    </a>
  </li> -->
  <li class="nav-item" *ngIf="userData.role == 'USER_ADMIN'">
    <a class="nav-link active pl-2 pr-2 text-info" href="#" [routerLink]="'/manager/questions'">
      <fa-icon class="mr-2" [icon]="['fas', 'file-alt']"></fa-icon>
      <span class="d-inline-block w-75" >Preguntas</span>
      <span class="d-inline-block"><fa-icon class="mr-1" [icon]="['fas', 'chevron-right']"></fa-icon></span>
    </a>
  </li>

  <li class="nav-item" *ngIf="userData.role == 'USER_ADMIN'">
    <a class="nav-link active pl-2 pr-2 text-info" href="#" [routerLink]="'/manager/users'">
      <fa-icon class="mr-2" [icon]="['fas', 'users']"></fa-icon>
      <span class="d-inline-block w-75" >Usuarios</span>
      <span class="d-inline-block"><fa-icon class="mr-1" [icon]="['fas', 'chevron-right']"></fa-icon></span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link active pl-2 pr-2 text-info" href="javascript:void(0)" (click)="logout()" >
      <fa-icon class="mr-2" [icon]="['fas', 'sign-out-alt']"></fa-icon>
      <span class="d-inline-block w-75" >Cerrar sesión</span>
      <span class="d-inline-block"></span>
    </a>
  </li>

  <!-- <li class="nav-item">
    <a class="nav-link active pl-2 pr-2 text-info" href="#">
      <fa-icon class="mr-2" [icon]="['fas', 'file-alt']"></fa-icon>
      <span class="d-inline-block w-75" >Usuarios</span>
      <span class="d-inline-block"><fa-icon class="mr-1" [icon]="['fas', 'chevron-right']"></fa-icon></span>
    </a>
  </li> -->
</ul>