<h5>Examenes Disponibles</h5>
<div class="alert alert-dismissible alert-success" *ngIf="message && message.hide === false" (click)="message.hide = true">
    <button type="button" class="close" data-dismiss="alert">&times;</button> {{ message.message }}
    <!-- <a href="#" class="alert-link">this important alert message</a>. -->
</div>
<button type="button" class="btn btn-primary" (click)="ir($event)"><fa-icon class="mr-1" [icon]="['fas', 'plus']"></fa-icon>Crear</button><br><br>

<div class="list-group">

    <a href="javascript:void(0)" [routerLink]="'/categories/post/' + category.key" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let category of categories; let i = index;">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"></h5>
            <small>
             
                <fa-icon [icon]="['fas', 'pen']"></fa-icon>
              
            </small>
        </div>
        <p class="mb-1">{{ (i + 1) }}. {{ category.name }}</p>
        <small>{{ category.clientKey }}</small>
    </a>
</div>

<!-- <table class="table table-hover" style="width: 100%;">
    <thead>
        <tr>
            <th scope="col">Questions</th>
            <th scope="col">Tipo Respuesta</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-dark" *ngFor="let question of questions">
            <th scope="row">{{ question.question }}</th>
            <td>{{ question.typeAnswer }}</td>
            <td>
                <a href="#" (click)="form(question.key, $event)">
                    <fa-icon [icon]="['fas', 'pen']"></fa-icon>
                </a>
            </td>
        </tr>
    </tbody>
</table> -->