<app-nav></app-nav>
<div class="container-fluid">
  <div class="row">
      <app-sidebar></app-sidebar>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h5 text-info">Exámen Professional Scrum Product Owner</h1>
            <!-- <div class="text-info h5 border border-info p-3 rounded highlight">
              <div id="timer" class="d-inline-block"></div>
              <fa-icon class="d-inline-block ml-2 ng-fa-icon h41" [icon]="['fas', 'stopwatch']"></fa-icon>
            </div> -->
          </div>
          <!-- <div class="pb-4">
            <span class="text-info">En progreso</span>
            <ngb-progressbar height="18px" type="info" textType="white" [value]="25" [striped]="true" [animated]="true" [showValue]="true"></ngb-progressbar>
          </div> -->
          <div class="row">
            <div class="col-6">
              <div class="mb-2">
                <h6 class="text-info">Pregunta {{ (orderQuestion + 1) }} ({{ (orderQuestion + 1) }} De {{ questions.length }}):</h6> 
              </div>
              <div class="border border-dark p-3 rounded">
                <p class="mb-0">
                  {{ question.question }}
                </p>
              </div>
              <div class="border border-dark p-3 rounded highlight" *ngIf="question.questionEn">
                <div class="text-info pb-1">
                  En inglés:
                </div>
                <p class="text-muted mb-0">
                  {{ question.questionEn }}
                </p>
              </div>
              <div class="w-100 pt-4">
                <div class="float-left w-50 d-flex">
                  <ngb-pagination class="text-info" (pageChange)="loadPage($event)" [(page)]="page" [collectionSize]="(questions.length)" pageSize="1" [maxSize]="3" aria-label="Default pagination"></ngb-pagination>
                </div>
                <div class="float-left w-50 d-flex">
                  <label for="inputEmail3" class="col-sm-5 col-form-label text-right text-info">Ir a la pregunta:</label>
                  <div class="col-sm-7 p-0">
                    <select class="form-control" (change)="goQuestion($event)" >
                      
                      <option [value]="(i + 1)" *ngFor="let question of questions; let i = index;">
                        {{ question.data.question }}
                      </option>
                      <!-- <option [value]="2">
                        Pregunta 2
                      </option>
                      <option [value]="3">
                        Pregunta 3
                      </option> -->
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-2">
                <h6 class="text-info">Opciones</h6>
              </div>
              <div class="pt-0 pb-1 pl-1 pr-1">
                <form>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1">
                    <label class="form-check-label w-100" for="exampleRadios1">
                      <div class="border border-dark p-3 rounded">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis perspiciatis quisquam nesciunt inventore, at sint, recusandae voluptate sit iusto laudantium amet non suscipit accusantium ipsa voluptates fugit voluptas itaque temporibus!
                      </div>
                      <div class="text-muted border border-dark p-3 rounded highlight">
                        <div class="text-info d-block pr-1">En inglés: </div>
                        <p class="d-block mb-0">
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis perspiciatis quisquam nesciunt inventore, at sint, recusandae voluptate sit iusto laudantium amet non suscipit accusantium ipsa voluptates fugit voluptas itaque temporibus!
                        </p>
                      </div>
                    </label>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1">
                    <label class="form-check-label w-100" for="exampleRadios1">
                      <div class="border border-dark p-3 rounded">
                        Agrega el elemento al Sprint actual sin ningún ajuste.
                      </div>
                      
                      <div class="text-muted border border-dark p-3 rounded highlight">
                        <div class="text-info d-block pr-1">En inglés: </div>
                        <p class="d-block mb-0">
                          Add the item to the current Sprint without any adjustments.
                        </p>
                      </div>
                    </label>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1">
                    <label class="form-check-label w-100" for="exampleRadios1">
                      <div class="border border-dark p-3 rounded">
                        Agrega el elemento al Sprint actual sin ningún ajuste.
                      </div>
                      
                      <div class="text-muted border border-dark p-3 rounded highlight">
                        <div class="text-info d-block pr-1">En inglés: </div>
                        <p class="d-block mb-0 ">
                          Add the item to the current Sprint without any adjustments.
                        </p>
                      </div>
                    </label>
                  </div>
                  <div class="form-check mb-3 ">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1">
                    <label class="form-check-label w-100" for="exampleRadios1">
                      <div class="border border-dark p-3 rounded">
                        Agrega el elemento al Sprint actual sin ningún ajuste.
                      </div>
                      
                      <div class="text-muted border border-dark p-3 rounded highlight">
                        <div class="text-info d-block pr-1">En inglés: </div>
                        <p class="d-block mb-0">
                          Add the item to the current Sprint without any adjustments.
                        </p>
                      </div>
                    </label>
                  </div>
                </form>
              </div>

              <div class="pt-0 pb-1 pl-1 pr-1">
                  <div class="btn-group-grid">
                    <div class="item">
                      <button type="button" 
                      [disabled]="serviceProgress" 
                      (click)="saveQuestion($event)" class="btn btn-info mr-0">
                      <fa-icon *ngIf="!serviceProgress" class="mr-1" [icon]="['fas', 'save']"></fa-icon>
                      <fa-icon *ngIf="serviceProgress" [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon>
                      Guardar</button>
                    </div>
                    <!-- <div class="item">
                      <button type="button" 
                      [disabled]="serviceProgress" 
                      (click)="endExam($event)" class="btn btn-success mr-0">
                      <fa-icon *ngIf="!serviceProgress" class="mr-1" [icon]="['fas', 'check']"></fa-icon>
                      <fa-icon *ngIf="serviceProgress" [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon>
                      Terminar</button>
                    </div> -->
                    <div class="item">
                      <button type="button" 
                      [disabled]="serviceProgress" 
                      (click)="saveQuestion($event)" class="btn btn-danger mr-0">
                      <fa-icon *ngIf="!serviceProgress" class="mr-1" [icon]="['fas', 'times']"></fa-icon>
                      <fa-icon *ngIf="serviceProgress" [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon>
                      Cancelar</button>
                    </div>  
                  </div>
              </div>
            </div>
          </div>
          <hr>
      </main>
  </div>
</div>