<app-nav></app-nav>
<div class="container-fluid">
  <div class="row">
      <app-sidebar></app-sidebar>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h5 text-info"><span class="mr-2"  *ngIf="category">{{ category.name }}</span> <fa-icon *ngIf="progressService" class="mr-2 h6" [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon>
            </h1>
          </div>
          <ngb-alert [type]="'success'" *ngIf="dismissible"><fa-icon [icon]="['fas', 'check']" class="mr-2"></fa-icon>Opción guardada correctamente</ngb-alert>
          <div *ngIf="progressService">
            <fa-icon class="mr-2 h6" [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon>
          </div>
          <div class="row" *ngIf="!progressService">
            <div class="col-6">
              <div class="mb-2 text-info">
                <h6 class="text-info">Pregunta {{ (orderQuestion + 1) }} ( De {{ questions.length }} ):</h6> 

                
              </div>
              <div class="border border-dark p-3 rounded">
                <p class="mb-0">
                  {{ question.question }}
                </p>
              </div>
              <div class="border border-dark p-3 rounded highlight" *ngIf="question.questionEn">
                <div class="text-info pb-1">
                  En inglés:
                </div>
                <p class="text-muted mb-0">
                  {{ question.questionEn }}
                </p>
              </div>
              <div class="w-100 pt-4">
                <div class="float-left w-50 d-flex">
                  <ngb-pagination class="text-info" (pageChange)="loadPage($event)" [(page)]="page" [collectionSize]="(questions.length)" pageSize="1" [maxSize]="3" aria-label="Default pagination"></ngb-pagination>
                </div>
                <div class="float-left w-50 d-flex">
                  <label for="inputEmail3" class="col-sm-5 col-form-label text-right text-info">Ir a la pregunta:</label>
                  <div class="col-sm-7 p-0">
                    <select class="form-control" [ngModel]="page" (change)="goQuestion($event)" >
                      <option [value]="(i + 1)" [selected]="2" *ngFor="let question of questions; let i = index;">
                        {{ (i + 1) }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-2">
                <h6 class="text-info d-inline-block">Opciones</h6>
                <div class="d-inline-block text-info">
                  <fa-icon *ngIf="saveOption" class="ml-2 h6" [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon>
                </div>
              </div>
              <div class="pt-0 pb-1 pl-1 pr-1" *ngIf="question.answers && question.answers.length">
                <form>
                  <div class="form-check mb-3" *ngFor="let answer of question.answers; let i = index;">
                    <input [disabled]="saveOption" class="form-check-input" [checked]="(answer.checked == true)? answer.checked : false" (change)="selectedValue($event, question.answers, question, orderQuestion, i)" [type]="getTypeAnswer(question.typeAnswer)" [name]="'option_' + orderQuestion" [id]="'option_' + orderQuestion + '_' + i">
                    <label class="form-check-label w-100" [for]="'option_' + orderQuestion + '_' + i">
                      <div class=""> 
                        {{ answer.name }}
                      </div>
                      <div class="text-muted border border-dark p-3 rounded highlight" *ngIf="answer.nameEn">
                        <div class="text-info d-block pr-1">En inglés: </div>
                        <p class="d-block mb-0">
                          {{ answer.nameEn }}
                        </p>
                      </div>
                    </label>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <hr *ngIf="!progressService">
      </main>
  </div>
</div>