<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Grupo Gals</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active pl-2 pr-2 text-info" href="#">
                        <fa-icon class="mr-2" [icon]="['fas', 'file-alt']"></fa-icon>
                        <span class="d-inline-block w-75" >Examenes</span>
                        <span class="d-inline-block"><fa-icon class="mr-1" [icon]="['fas', 'chevron-right']"></fa-icon></span>
                    </a>
                </li>
            </ul>
        </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h4">Examenes Disponibles</h1>
            </div>
            <div class="row">
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Professional Scrum Product Owner</h5>
                        <p class="card-text"><fa-icon class="mr-2" [icon]="['fas', 'list-ul']"></fa-icon>80 Preguntas</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" (click)="getExamen('ddsds')" class="btn btn-sm btn-outline-secondary"><fa-icon class="mr-2" [icon]="['fas', 'play']"></fa-icon>Iniciar</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary"><fa-icon class="mr-2" [icon]="['fas', 'history']"></fa-icon>Historial</button>
                            </div>
                            <div><fa-icon class="mr-2" [icon]="['fas', 'clock']"></fa-icon>60 Minutos</div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <div class="card-body">
                          <h5 class="card-title">Professional Scrum Master</h5>
                          <p class="card-text"><fa-icon class="mr-2" [icon]="['fas', 'list-ul']"></fa-icon>120 Preguntas</p>
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                  <button type="button"  class="btn btn-sm btn-outline-secondary"><fa-icon class="mr-2" [icon]="['fas', 'play']"></fa-icon>Iniciar</button>
                                  <button type="button" class="btn btn-sm btn-outline-secondary"><fa-icon class="mr-2" [icon]="['fas', 'history']"></fa-icon>Historial</button>
                              </div>
                              <div><fa-icon class="mr-2" [icon]="['fas', 'clock']"></fa-icon>60 Minutos</div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <div class="card-body">
                          <h5 class="card-title">Agile Certified Practitioner</h5>
                          <p class="card-text"><fa-icon class="mr-2" [icon]="['fas', 'list-ul']"></fa-icon>80 Preguntas</p>
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-secondary"><fa-icon class="mr-2" [icon]="['fas', 'play']"></fa-icon>Iniciar</button>
                                  <button type="button" class="btn btn-sm btn-outline-secondary"><fa-icon class="mr-2" [icon]="['fas', 'history']"></fa-icon>Historial</button>
                              </div>
                              <div><fa-icon class="mr-2" [icon]="['fas', 'clock']"></fa-icon>60 Minutos</div>
                          </div>
                      </div>
                    </div>
                  </div>
            </div>
        </main>
    </div>
</div>