<nav class="navbar navbar-expand-lg navbar-dark bg-primary" *ngIf="sharedHeader==true">
    <a class="navbar-brand" routerLink="/mantainers/questions">APP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item ">active -->
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/mantainers/questions">
                    <fa-icon class="mr-1" [icon]="['fas', 'list']"></fa-icon> Questions <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/users/post">
                    <fa-icon class="mr-1" [icon]="['fas', 'users']"></fa-icon> Users <span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/mantainers/questions">Simulacrum</a>
            </li> -->
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    </div>
</nav>