<div class="list-group">
    <div class="card border-secondary" *ngIf="exam">
        <div class="card-header">
            <div style="display: flex;">
                <div class="col-6 text-left p-0 m-0">
                    <fa-icon class="mr-1" [icon]="['fas', 'pen']"></fa-icon> Simulacro {{ exam.category.name }}
                </div>
            </div>
        </div>
        <div class="card-body">
            <ul class="list-group" *ngIf="currentQuestion">
                <div class="col-12">
                    <p class="mb-1"><span class="mt-2">{{ currentQuestion.idx }}</span>. {{ currentQuestion.question }}</p>
                    <div class="mt-2">
                        <div *ngIf="currentQuestion.answers.length > 0">
                            <div *ngFor="let answer of currentQuestion.answers; let index = index;" class="mb-2">
                                <div [ngClass]="['custom-control', currentQuestion.class]">
                                    <input (change)="isCorrectEvent($event, answer, currentQuestion.idx, index)" [type]="currentQuestion.input" [id]="'customRadio' + index" [name]="'customRadio' + currentQuestion.key" [value]="answer.value" [checked]="answer.userIsCorrect" class="custom-control-input"
                                    />
                                    <label class="custom-control-label" [for]="'customRadio' + index">{{answer.letter}}. {{ answer.name }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary mr-2" routerLink="/simulacrum/examsavailable"><fa-icon class="mr-1" [icon]="['fas', 'power-off']"></fa-icon>Retornar</button>
            <button type="button" class="btn btn-primary mr-2" (click)="last()" [disabled]="(questionNext === questionCurrent)"><fa-icon class="mr-1" [icon]="['fas', 'arrow-alt-circle-left']"></fa-icon>Anterior</button>
            <button type="button" class="btn btn-primary mr-2" (click)="next()" [disabled]="(questionLast === questionCurrent)"><fa-icon class="mr-1" [icon]="['fas', 'arrow-alt-circle-right']"></fa-icon>Siguiente</button>
            <button type="button" class="btn btn-primary" (click)="finishExam()"><fa-icon class="mr-1" [icon]="['fas', 'paper-plane']"></fa-icon>Finalizar</button>
        </div>
    </div>
</div>