<header class="header header-sticky header-light">
    <nav class="navbar navbar-expand-lg yamm">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <img src="assets/img/logo-dark.png" class="img-fluid logo-dark" alt="">
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a [routerLink]="['/home']" class="nav-link" data-toggle="dropdown">Home</a> 
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/about']" class="nav-link">¿Quienes somos?</a>
                    </li>
                    <li class=" dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Cursos</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" [routerLink]="['/course/PSMI']">PROFESSIONAL SCRUM MASTER I</a>
                            </li>
                            <li>
                                <a class="dropdown-item" [routerLink]="['/course/ACP']">AGILE CERTIFIED PRACTITIONER</a>
                            </li>  
                            <li>
                                <a class="dropdown-item" [routerLink]="['/course/PAL']">PROFESSIONAL AGILE LEADERSHIP</a>
                            </li>
                            <li>
                                <a class="dropdown-item" [routerLink]="['/course/PSPO']">PROFESSIONAL SCRUM PRODUCT OWNER</a>
                            </li>
                        </ul>
                    </li>
                    <!--mega menu-->
                    <li class="nav-item">
                        <a [routerLink]="['/faq']" class="nav-link" data-toggle="dropdown">Preguntas frecuentes</a>
                    </li>

                    <li class="nav-item" style="display: none;">
                        <a href="#" class="nav-link" data-toggle="dropdown">Planes  <i class="fa fa-angle-down"></i></a>
                    </li> 
                    <li class="nav-item">
                        <a [routerLink]="['/contact']" class="nav-link" data-toggle="dropdown">Contáctanos</a>
                    </li>
                    <li class="nav-item" style="display: none;">
                        <a href="#" class="nav-link" data-toggle="dropdown">Carrito</a>
                    </li>
                </ul>
            </div>
            <div class="right-search ml-4 dropdown" style="display: none;">
                <a class="icon-search" href="#!" data-toggle="dropdown">
                    <i class="ion-ios-search-strong"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <form class="form-inline">
                        <input type="text" placeholder="Search" class="form-control">
                        <button type="button" class="form-search-button">
                            <i class="ion-ios-search-strong"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </nav><!--nav end-->
</header>

<section id="content-region-3" class="padding-40 page-tree-bg">
    <div class="container">
        <h3 class="page-tree-text">
            ¿Quiénes somos?
        </h3>
    </div>
</section><!--page-tree end here-->
<div class="space-70"></div>

<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-12">
            <h4 class="heading-mini">Como iniciamos</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet pulvinar risus, at posuere justo scelerisque sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet pulvinar risus, at posuere justo scelerisque sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.

            </p>
           
            <br>
            <ul class="icon-list list-unstyled">
                <li><i class="ion-checkmark-round"></i> Lorem ipsum dolor sit amet, consectetur</li>
                <li><i class="ion-checkmark-round"></i> Suspendisse tristique velit vel ligula mattis</li>
                <li><i class="ion-checkmark-round"></i> Curabitur tincidunt iaculis est posuere</li>
                <li><i class="ion-checkmark-round"></i> Vestibulum vitae nibh elit phasellus sed</li>
            </ul>


        </div>
        <div class="col-lg-6" style="display: none;">
            <img src="assets/img/work/work-1.jpg" alt="" style="width:530px;">
             <div id="js-grid-slider-thumbnail" class="cbp " style="display: none;">
                <div class="cbp-item">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/img/work/work-1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="cbp-item">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/img/work/work-2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="cbp-item">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/img/work/work-3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>         <!--about company row end-->
    <div class="space-70"></div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="heading-mini">El equipo</h4>
        </div>

        <div class="col-lg-3 col-md-6 margin-btm-20">
            <div class="person-section">
                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="person-desc">
                    <h3>John doe   <span>web designer</span></h3>

                    <p>
                        adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    </p>
                    <ul class=" team list-inline social-btn">
                        <li class="list-inline-item"><a href="#"><i class="ion-social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like On Facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ion-social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ion-social-googleplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On googleplus"></i></a></li>
                    </ul>
                </div>
            </div><!--person section end-->
        </div><!--person col end-->
        <div class="col-lg-3 col-md-6 margin-btm-20">
            <div class="person-section">
                <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="person-desc">
                    <h3>John doe   <span>web designer</span></h3>

                    <p>
                        adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    </p>
                    <ul class=" team list-inline social-btn">
                        <li class="list-inline-item"><a href="#"><i class="ion-social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like On Facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ion-social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ion-social-googleplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On googleplus"></i></a></li>
                    </ul>
                </div>
            </div><!--person section end-->
        </div><!--person col end-->
        <div class="col-lg-3 col-md-6 margin-btm-20" style="display: none;">
            <div class="person-section">
                <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="person-desc">
                    <h3>John doe   <span>web designer</span></h3>

                    <p>
                        adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    </p>
                    <ul class=" team list-inline social-btn">
                        <li class="list-inline-item"><a href="#"><i class="ion-social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like On Facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ion-social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ion-social-googleplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On googleplus"></i></a></li>
                    </ul>
                </div>
            </div><!--person section end-->
        </div><!--person col end-->
        <div class="col-lg-3 col-md-6 margin-btm-20" style="display: none;">
            <div class="person-section">
                <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="person-desc">
                    <h3>John doe   <span>web designer</span></h3>

                    <p>
                        adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    </p>
                    <ul class=" team list-inline social-btn">
                        <li class="list-inline-item"><a href="#"><i class="ion-social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like On Facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ion-social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ion-social-googleplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On googleplus"></i></a></li>
                    </ul>
                </div>
            </div><!--person section end-->
        </div><!--person col end-->
    </div><!--our team row end-->
    <div class="space-70"></div>
    <div class="row" style="display: none;">
        <div class="col-md-6 margin-btm-20">
            <h4 class="heading-mini">Our Carzy Skills</h4>
            <h3 class="heading-progress">Web Design <span class="pull-right">88%</span></h3>
            <div class="progress">
                <div class="progress-bar" style="width: 88%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="88" role="progressbar">
                </div>
            </div>
            <h3 class="heading-progress">Web Development <span class="pull-right">78%</span></h3>
            <div class="progress">
                <div class="progress-bar" style="width: 78%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="78" role="progressbar">
                </div>
            </div>
            <h3 class="heading-progress">Marketing <span class="pull-right">82%</span></h3>
            <div class="progress">
                <div class="progress-bar" style="width: 82%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="82" role="progressbar">
                </div>
            </div>
            <h3 class="heading-progress">Seo <span class="pull-right">72%</span></h3>
            <div class="progress">
                <div class="progress-bar" style="width: 72%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="82" role="progressbar">
                </div>
            </div>
        </div><!--our skill progress bar col end-->

        <div class="col-md-6 hire-sec">
            <h4 class="heading-mini">Why hire us?</h4>
            <div class="row">
                <div class="col-md-3 services-icon">
                    <i class="ion-laptop"></i>
                </div><!--services icon-->
                <div class="col-md-9 services-text">
                    <h4 class="heading-mini">100% Responsive layout</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut ipsum mauris. Fusce condimentum mollis eros vitae facilisis. 
                    </p>
                </div><!--services 1 text-->
            </div><!--services 1 row-->
            <div class="space-20"></div>
            <div class="row">
                <div class="col-md-3 services-icon">
                    <i class="ion-ios-barcode-outline"></i>
                </div><!--services icon-->
                <div class="col-md-9 services-text">
                    <h4 class="heading-mini">html5 css3</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut ipsum mauris. Fusce condimentum mollis eros vitae facilisis. 
                    </p>
                </div><!--services 2 text-->
            </div><!--services 2 row-->
            
        </div><!--hire section end-->
    </div><!--row-->
</div><!--about content end-->
<div class="space-50"></div>
 <section id="content-region-2" class="slider-testimonials ">

    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto text-center">
                <i class="ion-quote display-4 margin-btm-40 text-primary"></i>
                <div class="swiper-container swiper-text">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <p class="lead">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut ipsum mauris. Fusce condimentum mollis eros vitae facilisis.  
                            </p>
                            <img src="assets/img/team/team-1.jpg" alt="" class="img-fluid rounded-circle" width="60">
                            <h6>John Doe - <small>Bizwrap User</small></h6>
                        </div>
                        <div class="swiper-slide">
                            <p class="lead">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut ipsum mauris. Fusce condimentum mollis eros vitae facilisis.  
                            </p>
                            <img src="assets/img/team/team-2.jpg" alt="" class="img-fluid rounded-circle" width="60">
                            <h6>John Doe - <small>Bizwrap User</small></h6>
                        </div>
                        <div class="swiper-slide">
                            <p class="lead">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut ipsum mauris. Fusce condimentum mollis eros vitae facilisis.  
                            </p>
                            <img src="assets/img/team/team-3.jpg" alt="" class="img-fluid rounded-circle" width="60">
                            <h6>John Doe - <small>Bizwrap User</small></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!--testimonials section end here-->
<div class="space-70"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="heading-sec">Our Process</h3>
        </div>
        <div class="col-lg-3 col-md-6 margin-btm-20">
            <div class="process-box">
                <i class="ion-beaker"></i>
                <h4>1. Planing</h4>
            </div><!--process box end-->
        </div>
         <div class="col-lg-3 col-md-6 margin-btm-20">
            <div class="process-box">
                <i class="ion-compose"></i>
                <h4>2. Design</h4>
            </div><!--process box end-->
        </div>
        <div class="col-lg-3 col-md-6 margin-btm-20">
            <div class="process-box">
                <i class="ion-settings"></i>
                <h4>3. Development</h4>
            </div><!--process box end-->
        </div>
         <div class="col-lg-3 col-md-6 margin-btm-20">
            <div class="process-box">
                <i class="ion-paper-airplane"></i>
                <h4>4. Launch</h4>
            </div><!--process box end-->
        </div>
    </div><!--process row end-->
</div><!--our process content end-->
<div class="space-70"></div>
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 margin-btm-20">
                <div class="footer-col">
                    <h3>Bizwrap</h3>
                    <p>
                        aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    </p>
                </div>
                <div class="space-20"></div>
                <div class="footer-col">
                    <h3>contact info</h3>
                    <p><i class="ion-home"></i> pearl tower,3rd floor,jaipur,302012</p>
                    <p><i class="ion-iphone"></i> +91 9887568614</p>
                    <p><i class="ion-email"></i> mail@domain.com</p>
                </div>
                <div class="space-20"></div>
                <div class="footer-col">
                    <h3>Follow us</h3>
                    <ul class=" list-inline social-btn">
                        <li class="list-inline-item"><a href="#"><i class="ion-social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like On Facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ion-social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ion-social-googleplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On googleplus"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ion-social-pinterest" data-toggle="tooltip" data-placement="top" title="" data-original-title="pinterest"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ion-social-skype" data-toggle="tooltip" data-placement="top" title="" data-original-title="skype"></i></a></li>
                    </ul>
                </div><!--footer social col-->
            </div><!--col-4 end-->
            <div class="col-md-3 margin-btm-20">
                <div class="footer-col">
                    <h3>Latest post</h3>
                    <ul class="post-list list-unstyled">
                        <li><a href="#" class="hover-color">Blog post with image</a></li>
                        <li><a href="#" class="hover-color">lorem ipsum dollor sit amet</a></li>
                        <li><a href="#" class="hover-color">Blog post with audio</a></li>
                        <li><a href="#" class="hover-color">lorem ipsum dollor sit amet</a></li>
                        <li><a href="#" class="hover-color">Blog post with quote</a></li>
                    </ul>
                </div>
            </div><!--latest post col end-->
            <div class="col-md-5">
                <div class="footer-col">
                    <h3>Get in touch</h3>
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Name...">
                            </div>
                            <div class="col-md-6">
                                <input type="email" class="form-control" placeholder="Email...">
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Subject...">
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control" placeholder="Massage..." rows="7"></textarea>
                            </div>
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-lg btn-white">Send massege</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!--get in touch col end-->
        </div><!--footer main row end-->  
        <div class="space-70"></div>
        <div class="row">
            <div class="col-md-12 text-center footer-bottom">
                <a href="index.html"> <img src="assets/img/logo-white.png" alt=""></a>
                <div class="space-20"></div>
                <span>&copy;2017. All right reserved. Design by design_mylife</span>
            </div>
        </div><!--footer copyright row end-->
    </div><!--container-->
</div><!--footer main end-->
<!--back to top-->
<a href="#" class="scrollToTop"><i class="ion-android-arrow-dropup-circle"></i></a>
<!--back to top end-->