<header class="header header-sticky header-light">
    <nav class="navbar navbar-expand-lg yamm">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <img src="assets/img/logo-dark.png" class="img-fluid logo-dark" alt="">
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a [routerLink]="['/home']" class="nav-link" data-toggle="dropdown">Home</a> 
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/about']" class="nav-link">¿Quienes somos?</a>
                    </li>
                    <li class=" dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Cursos</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" [routerLink]="['/course/PSMI']">PROFESSIONAL SCRUM MASTER I</a>
                            </li>
                            <li>
                                <a class="dropdown-item" [routerLink]="['/course/ACP']">AGILE CERTIFIED PRACTITIONER</a>
                            </li>  
                            <li>
                                <a class="dropdown-item" [routerLink]="['/course/PAL']">PROFESSIONAL AGILE LEADERSHIP</a>
                            </li>
                            <li>
                                <a class="dropdown-item" [routerLink]="['/course/PSPO']">PROFESSIONAL SCRUM PRODUCT OWNER</a>
                            </li>
                        </ul>
                    </li>
                    <!--mega menu-->
                    <li class="nav-item">
                        <a [routerLink]="['/faq']" class="nav-link" data-toggle="dropdown">Preguntas frecuentes</a>
                    </li>

                    <li class="nav-item" style="display: none;">
                        <a href="#" class="nav-link" data-toggle="dropdown">Planes  <i class="fa fa-angle-down"></i></a>
                    </li> 
                    <li class="nav-item">
                        <a [routerLink]="['/contact']" class="nav-link" data-toggle="dropdown">Contáctanos</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-toggle="dropdown">Carrito</a>
                    </li>
                </ul>
            </div>
            <div class="right-search ml-4 dropdown" style="display: none;">
                <a class="icon-search" href="#!" data-toggle="dropdown">
                    <i class="ion-ios-search-strong"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <form class="form-inline">
                        <input type="text" placeholder="Search" class="form-control">
                        <button type="button" class="form-search-button">
                            <i class="ion-ios-search-strong"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </nav><!--nav end-->
</header>

<section id="content-region-3" class="padding-40 page-tree-bg">
    <div class="container">
        <h3 class="page-tree-text">
            {{ course.title }}
        </h3>
    </div>
</section><!--page-tree end here-->
<div class="space-70"></div>
<div class="container portfolio-details">
    <div class="row">
        <div class="col-md-8 portfolio-single-slide margin-btm-20" style="display: none;">
            <div style="width: 730px;">
                <img src="./assets/img/work/work-1.jpg" style="width: 730px;" />
            </div>
            <div id="js-grid-slider-thumbnail" class="cbp " style="display: none;">
                <div class="cbp-item">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/img/work/work-1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="cbp-item">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/img/work/work-2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="cbp-item">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/img/work/work-3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div id="js-pagination-slider" style="display: none;">
                <div class="cbp-pagination-item cbp-pagination-active">
                    <img src="assets/img/work/work-1.jpg" alt="">
                </div>
                <div class="cbp-pagination-item">
                    <img src="assets/img/work/work-2.jpg" alt="">
                </div>
                <div class="cbp-pagination-item">
                    <img src="assets/img/work/work-3.jpg" alt="">
                </div>
            </div>
            <div class="space-20"></div>
            <div class="portfolio-single-desc">
                <h3>Project title goes here</h3>
                <p>
                    aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                </p>
                <p>
                    aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                </p>
                <p>
                    aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                </p>
               
            </div><!--portfolio detail-->
        </div>
        <div class="col-md-12">
            <div class="portfolio-side-bar">
                <p>
                    <strong>Client:</strong> Design_mylife
                </p>
                <p>
                    <strong>Skills:</strong> HTML5, CSS3, Bootstrap3, Jquery
                </p>
                <p>
                    <strong>Time:</strong> March 10 2015 - March 25 2015
                </p>
                <p>
                    <strong>Client Says:</strong> "Great services!, my project goes live and am very happy to pay design_mylife. sed do eiusmod tempor incididunt ut labore et dolore magna."
                </p>
                <p>
                    <strong>Características:</strong>
                </p>
                <!-- <p> -->
                    <!-- <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ea sunt odio repudiandae dicta quia quaerat deleniti delectus, fugit placeat inventore architecto corrupti modi dolorem culpa natus. Quis, temporibus? Tenetur.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ea sunt odio repudiandae dicta quia quaerat deleniti delectus, fugit placeat inventore architecto corrupti modi dolorem culpa natus. Quis, temporibus? Tenetur.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ea sunt odio repudiandae dicta quia quaerat deleniti delectus, fugit placeat inventore architecto corrupti modi dolorem culpa natus. Quis, temporibus? Tenetur.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ea sunt odio repudiandae dicta quia quaerat deleniti delectus, fugit placeat inventore architecto corrupti modi dolorem culpa natus. Quis, temporibus? Tenetur.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ea sunt odio repudiandae dicta quia quaerat deleniti delectus, fugit placeat inventore architecto corrupti modi dolorem culpa natus. Quis, temporibus? Tenetur.</li>
                    </ul> -->
                <!-- </p> -->
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quam amet rem eos eum molestias optio laboriosam quasi, temporibus reiciendis quidem tempore fugit voluptatibus? Voluptatibus accusantium voluptate omnis inventore maiores.
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quam amet rem eos eum molestias optio laboriosam quasi, temporibus reiciendis quidem tempore fugit voluptatibus? Voluptatibus accusantium voluptate omnis inventore maiores.
                </p>
                <!-- <p>
                    <a href="#" class="btn btn-radius theme-btn-color">Descag</a>
                </p> -->
                <!-- <br> -->
                <p>
                    <a [routerLink]="['/shop-car']" class="btn btn-radius theme-btn-color">Comprar</a>
                </p>
            </div>
        </div>
    </div>
</div><!--portfolio single container end-->
<div class="space-70"></div>
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 margin-btm-20">
                <div class="footer-col">
                    <h3>Bizwrap</h3>
                    <p>
                        aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    </p>
                </div>
                <div class="space-20"></div>
                <div class="footer-col">
                    <h3>contact info</h3>
                    <p><i class="ion-home"></i> pearl tower,3rd floor,jaipur,302012</p>
                    <p><i class="ion-iphone"></i> +91 9887568614</p>
                    <p><i class="ion-email"></i> mail@domain.com</p>
                </div>
                <div class="space-20"></div>
                <div class="footer-col">
                    <h3>Follow us</h3>
                    <ul class=" list-inline social-btn">
                        <li class="list-inline-item"><a href="#"><i class="ion-social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like On Facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ion-social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ion-social-googleplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On googleplus"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ion-social-pinterest" data-toggle="tooltip" data-placement="top" title="" data-original-title="pinterest"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ion-social-skype" data-toggle="tooltip" data-placement="top" title="" data-original-title="skype"></i></a></li>
                    </ul>
                </div><!--footer social col-->
            </div><!--col-4 end-->
            <div class="col-md-3 margin-btm-20">
                <div class="footer-col">
                    <h3>Latest post</h3>
                    <ul class="post-list list-unstyled">
                        <li><a href="#" class="hover-color">Blog post with image</a></li>
                        <li><a href="#" class="hover-color">lorem ipsum dollor sit amet</a></li>
                        <li><a href="#" class="hover-color">Blog post with audio</a></li>
                        <li><a href="#" class="hover-color">lorem ipsum dollor sit amet</a></li>
                        <li><a href="#" class="hover-color">Blog post with quote</a></li>
                    </ul>
                </div>
            </div><!--latest post col end-->
            <div class="col-md-5">
                <div class="footer-col">
                    <h3>Get in touch</h3>
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Name...">
                            </div>
                            <div class="col-md-6">
                                <input type="email" class="form-control" placeholder="Email...">
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Subject...">
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control" placeholder="Massage..." rows="7"></textarea>
                            </div>
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-lg btn-white">Send massege</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!--get in touch col end-->
        </div><!--footer main row end-->  
        <div class="space-70"></div>
        <div class="row">
            <div class="col-md-12 text-center footer-bottom">
                <a href="index.html"> <img src="assets/img/logo-white.png" alt=""></a>
                <div class="space-20"></div>
                <span>&copy;2017. All right reserved. Design by design_mylife</span>
            </div>
        </div><!--footer copyright row end-->
    </div><!--container-->
</div><!--footer main end-->
<!--back to top-->
<a href="#" class="scrollToTop"><i class="ion-android-arrow-dropup-circle"></i></a>
<!--back to top end-->

<!-- jQuery plugins. -->
<!-- <script src="assets/js/plugins/plugins.js"></script>
<script src="assets/js/app.js"></script> -->
<!-- <script src="assets/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>  -->
<!-- <script>
    (function ($, window, document, undefined) {
        'use strict';

        // init cubeportfolio
        $('#js-grid-slider-thumbnail').cubeportfolio({
            layoutMode: 'slider',
            drag: true,
            auto: false,
            autoTimeout: 5000,
            autoPauseOnHover: true,
            showNavigation: false,
            showPagination: false,
            rewindNav: true,
            scrollByPage: true,
            gridAdjustment: 'responsive',
            mediaQueries: [{
                    width: 0,
                    cols: 1,
                }],
            gapHorizontal: 0,
            gapVertical: 0,
            caption: '',
            displayType: 'fadeIn',
            displayTypeSpeed: 400,
            plugins: {
                slider: {
                    pagination: '#js-pagination-slider',
                    paginationClass: 'cbp-pagination-active',
                }
            },
        });
    })(jQuery, window, document);
</script> -->