
<section id="content-region-3" class="padding-40 page-tree-bg">
    <div class="container">
        <h3 class="page-tree-text">
            {{ course.title }}
        </h3>
    </div>
</section><!--page-tree end here-->
<div class="space-70"></div>
<div class="container portfolio-details">
    <div class="row">
        <div class="col-md-8 portfolio-single-slide margin-btm-20" style="display: none;">
            <div style="width: 730px;">
                <img src="./assets/img/work/work-1.jpg" style="width: 730px;" />
            </div>
            <div id="js-grid-slider-thumbnail" class="cbp " style="display: none;">
                <div class="cbp-item">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/img/work/work-1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="cbp-item">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/img/work/work-2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="cbp-item">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/img/work/work-3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div id="js-pagination-slider" style="display: none;">
                <div class="cbp-pagination-item cbp-pagination-active">
                    <img src="assets/img/work/work-1.jpg" alt="">
                </div>
                <div class="cbp-pagination-item">
                    <img src="assets/img/work/work-2.jpg" alt="">
                </div>
                <div class="cbp-pagination-item">
                    <img src="assets/img/work/work-3.jpg" alt="">
                </div>
            </div>
            <div class="space-20"></div>
            <div class="portfolio-single-desc">
                <h3>Project title goes here</h3>
                <p>
                    aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                </p>
                <p>
                    aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                </p>
                <p>
                    aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                </p>
               
            </div><!--portfolio detail-->
        </div>
        <div class="col-md-12">
            <div class="portfolio-side-bar">
                <p>
                    <strong>Client:</strong> Design_mylife
                </p>
                <p>
                    <strong>Skills:</strong> HTML5, CSS3, Bootstrap3, Jquery
                </p>
                <p>
                    <strong>Time:</strong> March 10 2015 - March 25 2015
                </p>
                <p>
                    <strong>Client Says:</strong> "Great services!, my project goes live and am very happy to pay design_mylife. sed do eiusmod tempor incididunt ut labore et dolore magna."
                </p>
                <p>
                    <strong>Características:</strong>
                </p>
                <!-- <p> -->
                    <!-- <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ea sunt odio repudiandae dicta quia quaerat deleniti delectus, fugit placeat inventore architecto corrupti modi dolorem culpa natus. Quis, temporibus? Tenetur.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ea sunt odio repudiandae dicta quia quaerat deleniti delectus, fugit placeat inventore architecto corrupti modi dolorem culpa natus. Quis, temporibus? Tenetur.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ea sunt odio repudiandae dicta quia quaerat deleniti delectus, fugit placeat inventore architecto corrupti modi dolorem culpa natus. Quis, temporibus? Tenetur.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ea sunt odio repudiandae dicta quia quaerat deleniti delectus, fugit placeat inventore architecto corrupti modi dolorem culpa natus. Quis, temporibus? Tenetur.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ea sunt odio repudiandae dicta quia quaerat deleniti delectus, fugit placeat inventore architecto corrupti modi dolorem culpa natus. Quis, temporibus? Tenetur.</li>
                    </ul> -->
                <!-- </p> -->
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quam amet rem eos eum molestias optio laboriosam quasi, temporibus reiciendis quidem tempore fugit voluptatibus? Voluptatibus accusantium voluptate omnis inventore maiores.
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quam amet rem eos eum molestias optio laboriosam quasi, temporibus reiciendis quidem tempore fugit voluptatibus? Voluptatibus accusantium voluptate omnis inventore maiores.
                </p>
                <!-- <p>
                    <a href="#" class="btn btn-radius theme-btn-color">Descag</a>
                </p> -->
                <!-- <br> -->
                <p>
                    <a [routerLink]="['/shop-cart']" class="btn btn-radius theme-btn-color">Comprar</a>
                </p>
            </div>
        </div>
    </div>
</div><!--portfolio single container end-->
<div class="space-70"></div>
