<app-nav></app-nav>
<div class="container-fluid">
  <div class="row">
    <app-sidebar></app-sidebar>
    
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h5 text-info">Examenes Disponibles <fa-icon *ngIf="progressService" class="mr-2 h6" [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon></h1>
      </div>

      <div class="row" *ngIf="!checkPlanActive">
        <div class="col-12">
          <ngb-alert [type]="'warning'" [dismissible]="false">Su plan venció</ngb-alert>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4" *ngFor="let category of categories; let i = index;">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <h5 class="card-title">{{ category.name }}</h5>
              <p class="card-text"><fa-icon class="mr-2" [icon]="['fas', 'list-ul']"></fa-icon>{{ category.totalQuestions }} Preguntas</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" *ngIf="(checkPlanActive==true)" [disabled]="progressService" (click)="open(content, category)" class="btn btn-sm btn-outline-secondary">
                    <fa-icon class="mr-2" [icon]="['fas', 'play']"></fa-icon>Comenzar
                  </button>
                </div>
                <div>
                  <fa-icon class="mr-2" [icon]="['fas', 'clock']"></fa-icon>{{ category.durationTimeMM }} Minutos
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Instrucciones</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul>
      <li>Límite de tiempo: <b>{{category.durationTimeMM}} min.</b></li>
      <li>Número de preguntas: <b>{{ category.totalQuestions }}</b></li>
      <li>No puedes guardar y terminar más tardes, por lo que se recomienda terminar lo mas pronto posible.</li>
      <li>Lás pregunta se muestran por páginas</li>
      <li>Le permitirá regresar y cambiar sus respuestas.</li>
      <li>Tiene una puntuación de aprobación del <b>{{category.approvalPercentage}}%</b> </li>
      <li *ngIf="settingLanguage == 'BOTH'">La traducción de apoyo está en Español</li>
    </ul>
    <p class="text-center">
      <b>Exitos en tu evaluación</b>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" [disabled]="disabledButton" class="btn btn-outline-dark" (click)="getExamen();"><fa-icon *ngIf="disabledButton" class="mr-2" [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon>Continuar</button>
  </div>
</ng-template>