/* You can add global styles to this file, and also import other style files */

/* Home - Info % */
.jr-service-porcentage {
    border: 1px solid red;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    /* color: #32d2ba; */
    font-size: 2.5em;
    margin-bottom: 15px;
    display: inline-block;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #32d2ba;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.jr-features {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
}

@media (min-width: 1024px) {
    .jr-features {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        max-width: 75%;
    }
}

.jr-person-desc{
    text-align: center;
}
.jr-person-desc > p{
    text-align: center;
}


body {
    /* background: #0083ff !important;  */
    /* background-image: linear-gradient(128deg,#1e6dbd,#3287db); */
    background-color: transparent !important;
}

.header .top-bar.navbar {
    /* background: #0083ff !important; */
    /* background-image: linear-gradient(128deg,#1e6dbd,#3287db); */
    background: transparent !important;
}

.header.header-sticky.sticky-active nav.navbar.navbar-expand-lg { 
    background-color: #ecf5fe !important;
}

.header.header-sticky.sticky-active nav.navbar.navbar-expand-lg .navbar-nav, .header.header-sticky.sticky-active nav.navbar.navbar-expand-lg .nav-link, .header.header-sticky.sticky-active nav.navbar.navbar-expand-lg .icon-search {
    color: #6a85a6 !important;
}

nav.navbar.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    color: #FFFFFF !important; 
}

.header .top-bar.navbar a {
    color: #FFFFFF !important; 
}

.jr-service-porcentage {
    color: #2677c8 !important;
    border: 1px solid #ecf5fe !important;
    background: #ecf5fe !important;
}

p {
    color: #FFFFFF !important;
}

h3.heading-sec {
    color: #FFFFFF !important;
}

h4, h3 {
    color: #FFFFFF !important;
}

.btn {
    background-color: #1d2126 !important;
    /* opacity: .3; */
    color: #ffffff !important;
    border: 1px solid #1d2126 !important;
    cursor: pointer !important;
}

.btn:hover {
    background-color: #ffffff !important;
    /* opacity: .3; */
    color: #1d2126 !important;
    border: 1px solid #cccccc !important;
}

ul li {
    color: #ffffff !important;
}

#footer {
    background-color: #1d2126!important;
}

.pricing-head {
    background-color: #1d2126 !important;
}

.pricing-rate{
    background-color: #ecf5fe;
}

.pricing-rate h1 small {
    color: #1d2126 !important;
}

h1 {
    color: #1d2126 !important;
}


h4.portfolio-post-title{
    color: #2575c7 !important;
}


.content-bloques {
    /*background: #ecf5fe !important;*/
    background: transparent !important;
}

.content-bloques .heading-sec {
    color: #2779ca !important;
    padding-top: 18px !important;
}

.content-bloques .portfolio-post-cat {
    font-size: 1em !important;
}

.content-bloques .portfolio-sec {
    border: none !important;
    /* border: 1px solid #cccccc !important; */
}

.content-shop {
    background: #ecf5fe !important;
}

.content-shop ul li{
    color: #000000 !important;
}
.content-shop h4.heading-mini{
    color: #000000 !important;
}

.page-tree-bg2 {
    background-color: #333 !important;
    background-image: none !important
}


.logo-dark, .logo-white {
    width: 25% !important;
    top: 0.5em !important;
}

.logo-white {
    display: none;
}

/* Carrusel - Home */
.carouselBizwrap .btn {
    background-color: #2272c3 !important;
    /* opacity: .3; */
    color: #FFFFFF !important;
    border: 1px solid #2272c3 !important;
}
.carouselBizwrap .btn:hover {
    background-color: #ffffff !important;
    /* opacity: .3; */
    color: #1d2126 !important;
    border: 1px solid #cccccc !important;
}

/* Nuestros - Cursos */
.content-bloques .btn {
    background-color: #2272c3 !important;
    /* opacity: .3; */
    color: #FFFFFF !important;
    border: 1px solid #2272c3 !important;
}

.content-bloques .btn:hover {
    background-color: #ffffff !important;
    /* opacity: .3; */
    color: #1d2126 !important;
    border: 1px solid #cccccc !important;
}

.carouselBizwrap .btn {
    background-color: #2272c3 !important;
    /* opacity: .3; */
    color: #FFFFFF !important;
    border: 1px solid #2272c3 !important;
}
.carouselBizwrap .btn:hover {
    background-color: #ffffff !important;
    /* opacity: .3; */
    color: #1d2126 !important;
    border: 1px solid #cccccc !important;
}

/* Nuesto Equipo */
.content-equipo .btn {
    background-color: #666 !important;
    border: 1px solid #666 !important;
    color: #FFFFFF !important;
    font-size: 1.2em !important;
    text-transform: initial !important;
}

.content-equipo .btn:hover {
    background-color: #2272c3 !important;
    border: 1px solid #2272c3 !important;
}

/* Shopping cart - Menu */
.cart-dropdown li{
    color: #000000 !important;
}
.cart-dropdown .cart-desc {
    padding-left: 1em !important;
}

.cart-dropdown .btn {
    background-color: #2272c3 !important;
    border: 1px solid #2272c3 !important;
}
.cart-dropdown .btn:hover {
    background-color: #666 !important;
    border: 1px solid #666 !important;
    color: #FFFFFF !important;
}

/* Detalle del curso */
.portfolio-details .btn {
    background-color: #ffffff !important;
    /* opacity: .3; */
    color: #1d2126 !important;
    border: 1px solid #cccccc !important;
}
.portfolio-details .btn:hover {
    background-color: #666 !important;
    border: 1px solid #666 !important;
    color: #FFFFFF !important;
}

/* Shop Cart  */
.content-shop .btn {
    background-color: #2272c3 !important;
    border: 1px solid #2272c3 !important;
}
.content-shop .btn:hover {
    background-color: #666 !important;
    border: 1px solid #666 !important;
    color: #FFFFFF !important;
}

/* Footer */
.footer-bottom img {
    width: 25% !important;
}

/* Logo Reponsive */
@media (max-width: 767px) {

    .logo-dark, 
    .logo-white {
        width: 62%!important;
        top: .5em!important;
    }
    
    .logo-white {
        display: block !important;
    }

    .logo-dark {
        display: none !important;
    }

    .navbar-toggler {
        right: 0rem !important;
    }

    /* #navbarSupportedContent ul.navbar-nav li {
        color: #2474c5 !important;
    } */

    nav.navbar.navbar-expand-lg .navbar-nav .nav-item .nav-link {
        color: #2474c5 !important;
    }

    .navbar { 
        background-color: #ecf5fe !important; 
    }

    .cart-dropdown {
        padding: 0.5em !important;
    }
}

/* Menus */
.header.header-sticky.sticky-active nav.navbar.navbar-expand-lg .navbar-nav, .header.header-sticky.sticky-active nav.navbar.navbar-expand-lg .nav-link, .header.header-sticky.sticky-active nav.navbar.navbar-expand-lg .icon-search {
    color: #2474c5 !important;
}

/* Cursos */
.portfolio-desc ul li, 
.portfolio-desc p, 
.portfolio-desc h5, 
.portfolio-desc h3, 
.price h4,
.price{
    color: #2272c3 !important;
}




.portfolio-sec p{
    line-height: 2em !important;
    font-size: 1.2em !important;
}

.portfolio-sec {
    padding-right: 1em !important;
    padding-left: 1em !important;
}

.portfolio-sec .portfolio-post-title {
    padding-bottom: 0.2em !important;
}

.portfolio-desc {
    padding-top: 3em !important;
}

.portfolio-desc p{
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1.4em !important;
    line-height: 1.8em !important;
}


.portfolio-desc ul {
    list-style: circle;
    text-align: left;
 }

 /* Slider */
 /* .carousel.carouselBizwrap .carousel-inner .carousel-item {
    background-size: cover !important;
    background-position: center !important;
 } */

 .carousel.carouselBizwrap .carousel-inner .carousel-item {
    background-size: cover !important;
    background-position: bottom !important;
 }

 /* .carousel.carouselBizwrap .carousel-overlay {
    background-image: none !important;
 } */

 .carousel.carouselBizwrap .carousel-overlay {
    background-image: none !important;
    background-color: inherit !important;
 }
 
 .carousel-control-prev, .carousel-control-next {
    display: none !important;
 }

 /* secciones */
 .content-bloques .heading-sec, 
 .content-ofrecemos .heading-sec,
 .content-indicadores .heading-sec,
 .content-equipo .heading-sec {
    color: #2779ca !important;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
    margin-bottom: 0px !important;
    text-transform: inherit !important;
    font-size: 3em !important;
}

.content-bloques .heading-info { 
    padding-bottom: 2em !important;
    width: 70% !important;
    margin: 0 auto;
    text-align: center;
}

/* .content-bloques .heading-sec {
    color: #2779ca !important;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
} */

.content-bloques p, 
.content-ofrecemos p,
.content-indicadores p,
.content-equipo p{
    color: #2779ca !important;
    font-size: 1.5em !important;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    line-height: 1.5em !important;
    padding-bottom: 1em !important;
}

.content-indicadores .heading-sec {
    color: #FFFFFF !important;
}
.content-indicadores p {
    color: #FFFFFF !important;
}

/* Header */
.header {
    background-image: linear-gradient(128deg,#1e6dbd,#3287db) !important;
}

.nav-item a{
    text-transform: none !important;
}


.services-text h3{
    color: #2779ca !important;
    text-align: center;
    text-transform: inherit !important;
}

/* Indicadores */
.jr-service-porcentage {
    width: 150px !important;
    height: 150px !important;
    line-height: 150px !important;
    font-weight: 600 !important;
    font-size: 3em !important;
    color: #FFFFFF !important;
    border: 2px solid #FFFFFF !important;
    background: transparent !important;
}

.services-box {
    border: 1px solid transparent !important;
}

.carousel.carouselBizwrap .carousel-content h3 {
    font-size: 3rem !important;
    font-weight: 400 !important;
    line-height: 4rem !important;
}

.carousel.carouselBizwrap .carousel-content h3 {
    font-size: 3rem !important;
    font-weight: 400 !important;
    line-height: 4rem !important;
}

.content-indicadores{
    padding-top: 50px;
    padding-bottom: 120px;
    background-image: linear-gradient(128deg,#1e6dbd,#3287db) !important;
}

nav.navbar.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    font-size: 15px !important;
}

/* Equipo */
.person-desc h3{
    color: #2379ca !important;
    text-align: center;
    text-transform: inherit !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    margin-bottom: 8px !important;
}

.content-equipo .btn {
    background-color: #2272c3 !important;
    /* opacity: .3; */
    color: #FFFFFF !important;
    border: 1px solid #2272c3 !important;
}

.content-equipo p{
    font-size: 1.2em !important;
}

.person-section {
    border: 0px solid #eee !important;
}

.content-equipo .heading-info {
    padding-bottom: 2em !important;
    width: 70% !important;
    margin: 0 auto;
    text-align: center;
}

.nav-item .btn-order-now{
    /* background-color: #1e7e34 !important;
    border-color: #1e7e34 !important;
    color: #ffffff !important;
    border: 1px solid #1e7e34 !important;
    cursor: pointer !important;
    font-size: 15px !important; */
}

.header.header-sticky.sticky-active nav.navbar.navbar-expand-lg {
    background-color: #FFFFFF !important;
}

.swiper-fullwidth .swiper-slide .swiper-overlay {
    background-color: none !important;
    background-image: none !important;
}

/* Slider  */
.swiper-overlay .btn{
    background-color: #2272c3 !important;
    /* opacity: .3; */
    color: #FFFFFF !important;
    border: 1px solid #2272c3 !important;
}   

.header.header-transparent .navbar-brand img.logo-dark {
    opacity: 1 !important;
}

/* Suscribete ya */
.btn-suscription {
    background-color: #b0f95b !important;
    color: #000000cb !important;
    font-weight: 600 !important;
    border: none !important;
    font-size: 20px !important;
}

.btn-suscription:hover {
    background: #233212 !important;
    color: #b0f95a !important;
    opacity: 1 !important;
}

.swiper-overlay .btn {
    background-color: #b0f95b !important;
    color: #000000cb !important;
    text-transform: inherit !important;
    border: none !important;
    font-size: 20px !important;
}

.swiper-overlay .btn:hover {
    background: #233212 !important;
    color: #b0f95a !important;
    opacity: 1 !important;
}


.swiper-fullwidth .swiper-slide .swiper-overlay .swiper-title {
    text-transform: inherit !important;
}

#footer {
    background-color: #2b7ed0!important;
}

.footer-col form .form-control {
    background-color: #fff;
    border: none;
    color: #fff;
    margin-bottom: 15px;
}

.footer-bottom span {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

.footer-bottom {
    border-top: 1px solid #fff;
    padding-top: 30px;
}

#footer .btn {
    /* background-color: #1d2126 !important; */
    /* opacity: .3; */
    color: #ffffff !important;
    border: 1px solid #FFFFFF !important;
    cursor: pointer !important;
    background-color: #2b7ed0 !important;
}

.swiper-fullwidth .swiper-slide .swiper-overlay {
    background-color: rgba(0, 0, 0, 0) !important;
}

.swiper-fullwidth .swiper-slide .swiper-overlay .swiper-title {
    font-size: 4em !important;
}

/* Botón de inscríbete */

/* General  */
.btn-suscription:hover {
    border: 0px solid #FFFFFF !important;
}

.btn-suscription {
   padding: 0.5em !important; 
   /* width: 100% !important; */
   margin: 0 auto !important;
   text-transform: none !important;
}

.pricing-select {
    width: 50%;
    margin: 0 auto;
}

/* en el Menu */
.header .btn-suscription {
    padding-left: 1em !important;
    padding-right: 1em !important;
}

/* en el Slider */

.swiper-overlay .btn-suscription {
    padding-left: 1em !important;
    padding-right: 1em !important;
}

/* Precios */
.pricing-desc ul li {
    color: #2779ca !important;
    font-size: 1.5em !important;
    line-height: 1.5em !important;
}

.pricing-head {
    background-image: linear-gradient(128deg,#1e6dbd,#3287db) !important;
}

.pricing-wrapper .pricing-rate{
    background-image: linear-gradient(128deg,#1e6dbd,#3287db) !important;
    color: #FFFFFF !important;
}

.pricing-wrapper .pricing-rate h1{
    color: #FFFFFF !important;
}

.pricing-head h3{
    text-align: left !important;
    padding-left: 1em !important;
}

.list-unstyled {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.list-unstyled li{
    border-bottom: 0px solid #FFFFFF !important;
}

.pricing-select {
    padding-top: 2em !important;
}

.pricing-wrapper {
    -webkit-box-shadow: 8px 8px 3px 0px rgba(0,0,0,0.02) !important;
    -moz-box-shadow: 8px 8x 3px 0px rgba(0,0,0,0.02) !important;
    box-shadow: 8px 8px 3px 0px rgba(0,0,0,0.02) !important;
    border: 0px solid #eee !important;
    padding-bottom: 1em !important;
}

.disabled-price .btn-suscription {
    width: 100% !important;
}

.disabled-price .pricing-head {
    color: #1d2126 !important;
    background-image: linear-gradient(128deg,#d3d3d3,#d3d3d3) !important;
}

.disabled-price .pricing-head h3{
    color: #1d2126 !important;
}

.disabled-price .pricing-rate {
    background-image: linear-gradient(128deg,#d3d3d3,#d3d3d3) !important;
    color: #1d2126 !important;
}

.disabled-price .pricing-rate h1{
    color: #1d2126 !important;
}

.disabled-price .btn-suscription{
    background-color: #d3d3d3 !important;
}

.disabled-price .btn-suscription:hover{
    
    color: #000000cb !important;
}

.disabled-price { 
    opacity: 0.5 !important;
}

.footer-col {
    text-align: center;
}

.footer-col img{
    width: 30%;
    padding-bottom: 2.5em !important;
}


.footer-col .logo i{
    font-size: 2em;
}

.footer-col a {
    color: #FFFFFF;
    font-size: 1em;
}

.footer-col p {
    color: #FFFFFF;
    font-size: 1em;
}

.footer-col {
    font-size: 1.2em !important;
}

.footer-col hr {
    color: #FFFFFF !important;
    border-color: #FFFFFF !important;
}

#footer {
    padding-bottom: 10px !important;
}

.modal-body p{
    color: #000000 !important;
}

.slider-reg {
    background-color: #2b7ed0 !important;
}

.btn-info{
    background-image: linear-gradient(128deg,#1e6dbd,#3287db) !important;
    border: 1px solid #1e6dbd !important;
    text-transform: initial !important;
    color: #FFFFFF !important;
    font-size: 1.2em !important;
}
.btn-info:hover{
    color: #FFFFFF !important;
}

.use-cookies {
    padding: 1em;
    text-align: center;
}

.use-cookies p {
    color: #000000 !important;
}

.course-detail p{
    font-size: 14px !important;
}

.course-detail h4{
    color: #000000 !important;
}

.course-detail .modal-header {
    background-image: linear-gradient(128deg,#1e6dbd,#3287db) !important;
    color: #ffffff !important;
}

.course-detail .modal-header h4 {
    color: #ffffff !important;
    text-align: center !important;
    width: 100%;
    font-size: 2.5em !important;
}

.course-detail .portal{
    /* text-align: center !important;
    margin: 0 auto !important; */
    background: red;
    height: 250px;
    
    background-position: right;
    background-size: cover;
}

.course-detail .modal-body img{
    width: 32% !important;
    text-align: center !important;
    margin: 0 auto !important;
}
