
.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    text-align: center;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding-top: 48px;
    /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1); */
  }

  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }

  /* Examen */
  .border-dark{
    border: 4px #f8f9fa solid !important;
    /* border-color: #DDDDDD !important; */
  }

  .highlight{
    background-color: #f8f9fa ;
  }

  .border-dark > p {
    line-height: 26px !important;
  }


.btn-group-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: flex-end;
  grid-gap: .2em;
}

.btn-group-grid > div {
  display: flex;
}
