<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Grupo Gals</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="container-fluid">
  <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active pl-2 pr-2 text-info" href="#">
                  <fa-icon class="mr-2" [icon]="['fas', 'file-alt']"></fa-icon>
                  <span class="d-inline-block w-75" >Examenes</span>
                  <span class="d-inline-block"><fa-icon class="mr-1" [icon]="['fas', 'chevron-right']"></fa-icon></span>
                </a>
              </li>
            </ul>
        </div>
      </nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h5">Exámen Professional Scrum Product Owner</h1>
          </div>
          <div class="pb-4">
            <span>En progreso</span>
            <ngb-progressbar height="18px" type="success" textType="white" [value]="25" [striped]="true" [animated]="true" [showValue]="true"></ngb-progressbar>
          </div>
          <!-- <div style="position: relative;">
            <div style="position: absolute; width: 100%; height: 53rem; background-color: #000000;z-index: 9; opacity: .2;">
              <div class="text-center" style="position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%,-50%);z-index: 9;">
              <div class="spinner-border" role="status" style="color: #ffffff;">
                <span class="sr-only">Loading...</span>
              </div>
                <fa-icon style="color: #ffffff;" [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon>
              </div>
            </div>
          </div> -->
          
          <div class="row">
            <div class="col-6">
              <div class="mb-2">
                <h6>Pregunta 1 (De 3):</h6> 
              </div>
              <div class="border border-dark p-3 rounded">
                <p class="mb-0">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis perspiciatis quisquam nesciunt inventore, at sint, recusandae voluptate sit iusto laudantium amet non suscipit accusantium ipsa voluptates fugit voluptas itaque temporibus! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis perspiciatis quisquam nesciunt inventore, at sint, recusandae voluptate sit iusto laudantium amet non suscipit accusantium ipsa voluptates fugit voluptas itaque temporibus!
                </p>
              </div>
              <div class="border border-dark p-3 rounded highlight">
                <div class="text-info pb-1">
                  En inglés:
                </div>
                <p class="text-muted mb-0">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis perspiciatis quisquam nesciunt inventore, at sint, recusandae voluptate sit iusto laudantium amet non suscipit accusantium ipsa voluptates fugit voluptas itaque temporibus! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis perspiciatis quisquam nesciunt inventore, at sint, recusandae voluptate sit iusto laudantium amet non suscipit accusantium ipsa voluptates fugit voluptas itaque temporibus!
                </p>
              </div>
              <div class="w-100 pt-4">
                <div class="float-left w-50 d-flex">
                  <ngb-pagination (pageChange)="loadPage($event)" [(page)]="page" [collectionSize]="3" pageSize="1" [maxSize]="3" aria-label="Default pagination"></ngb-pagination>
                </div>
                <div class="float-left w-50 d-flex">
                  <label for="inputEmail3" class="col-sm-5 col-form-label text-right">Ir a la pregunta:</label>
                  <div class="col-sm-7 p-0">
                    <select class="form-control" (change)="goQuestion($event)">
                      <option>
                        Seleccione la pregunta
                      </option>
                      <option [value]="1">
                        Pregunta 1
                      </option>
                      <option [value]="2">
                        Pregunta 2
                      </option>
                      <option [value]="3">
                        Pregunta 3
                      </option>
                    </select>
                  </div>
                </div>
                
              </div>
              
            </div>
            <div class="col-6">
              <div class="mb-2">
                <h6>Opciones</h6>
              </div>
              <div class="pt-0 pb-1 pl-1 pr-1" *ngIf="idQuestion==1">
                <form>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1">
                    <label class="form-check-label w-100" for="exampleRadios1">
                      <div class="border border-dark p-3 rounded">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis perspiciatis quisquam nesciunt inventore, at sint, recusandae voluptate sit iusto laudantium amet non suscipit accusantium ipsa voluptates fugit voluptas itaque temporibus!
                      </div>
                      
                      <div class="text-muted border border-dark p-3 rounded highlight">
                        <div class="text-info d-block pr-1">En inglés: </div>
                        <p class="d-block mb-0">
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis perspiciatis quisquam nesciunt inventore, at sint, recusandae voluptate sit iusto laudantium amet non suscipit accusantium ipsa voluptates fugit voluptas itaque temporibus!
                        </p>
                      </div>
                    </label>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1">
                    <label class="form-check-label w-100" for="exampleRadios1">
                      <div class="border border-dark p-3 rounded">
                        Agrega el elemento al Sprint actual sin ningún ajuste.
                      </div>
                      
                      <div class="text-muted border border-dark p-3 rounded highlight">
                        <div class="text-info d-block pr-1">En inglés: </div>
                        <p class="d-block mb-0">
                          Add the item to the current Sprint without any adjustments.
                        </p>
                      </div>
                    </label>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1">
                    <label class="form-check-label w-100" for="exampleRadios1">
                      <div class="border border-dark p-3 rounded">
                        Agrega el elemento al Sprint actual sin ningún ajuste.
                      </div>
                      
                      <div class="text-muted border border-dark p-3 rounded highlight">
                        <div class="text-info d-block pr-1">En inglés: </div>
                        <p class="d-block mb-0 ">
                          Add the item to the current Sprint without any adjustments.
                        </p>
                      </div>
                    </label>
                  </div>
                  <div class="form-check mb-3 ">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1">
                    <label class="form-check-label w-100" for="exampleRadios1">
                      <div class="border border-dark p-3 rounded">
                        Agrega el elemento al Sprint actual sin ningún ajuste.
                      </div>
                      
                      <div class="text-muted border border-dark p-3 rounded highlight">
                        <div class="text-info d-block pr-1">En inglés: </div>
                        <p class="d-block mb-0">
                          Add the item to the current Sprint without any adjustments.
                        </p>
                      </div>
                    </label>
                  </div>
                </form>
              </div>
               <div class="pt-0 pb-1 pl-1 pr-1" *ngIf="idQuestion==2">
                <form>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1">
                    <label class="form-check-label w-100" for="exampleRadios1">
                      <div class="border border-dark p-3 rounded">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis perspiciatis quisquam nesciunt inventore, at sint, recusandae voluptate sit iusto laudantium amet non suscipit accusantium ipsa voluptates fugit voluptas itaque temporibus!
                      </div>
                      
                      <div class="text-muted border border-dark p-3 rounded highlight">
                        <div class="text-info d-block pr-1">En inglés: </div>
                        <p class="d-block mb-0">
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis perspiciatis quisquam nesciunt inventore, at sint, recusandae voluptate sit iusto laudantium amet non suscipit accusantium ipsa voluptates fugit voluptas itaque temporibus!
                        </p>
                      </div>
                    </label>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1">
                    <label class="form-check-label w-100" for="exampleRadios1">
                      <div class="border border-dark p-3 rounded">
                        Agrega el elemento al Sprint actual sin ningún ajuste.
                      </div>
                      
                      <div class="text-muted border border-dark p-3 rounded highlight">
                        <div class="text-info d-block pr-1">En inglés: </div>
                        <p class="d-block mb-0">
                          Add the item to the current Sprint without any adjustments.
                        </p>
                      </div>
                    </label>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1">
                    <label class="form-check-label w-100" for="exampleRadios1">
                      <div class="border border-dark p-3 rounded">
                        Agrega el elemento al Sprint actual sin ningún ajuste.
                      </div>
                      
                      <div class="text-muted border border-dark p-3 rounded highlight">
                        <div class="text-info d-block pr-1">En inglés: </div>
                        <p class="d-block mb-0 ">
                          Add the item to the current Sprint without any adjustments.
                        </p>
                      </div>
                    </label>
                  </div>
                  <div class="form-check mb-3 ">
                    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1">
                    <label class="form-check-label w-100" for="exampleRadios1">
                      <div class="border border-dark p-3 rounded">
                        Agrega el elemento al Sprint actual sin ningún ajuste.
                      </div>
                      
                      <div class="text-muted border border-dark p-3 rounded highlight">
                        <div class="text-info d-block pr-1">En inglés: </div>
                        <p class="d-block mb-0">
                          Add the item to the current Sprint without any adjustments.
                        </p>
                      </div>
                    </label>
                  </div>
                </form>
              </div>
              <div class="pt-0 pb-1 pl-1 pr-1" *ngIf="idQuestion==3">
                <form>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1">
                    <label class="form-check-label w-100" for="exampleRadios1">
                      <div class="border border-dark p-3 rounded">
                        Verdadero
                      </div>
                      
                      <div class="text-muted border border-dark p-3 rounded highlight">
                        <div class="text-info d-block pr-1">En inglés: </div>
                        <p class="d-block mb-0">
                          True
                        </p>
                      </div>
                    </label>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1">
                    <label class="form-check-label w-100" for="exampleRadios1">
                      <div class="border border-dark p-3 rounded">
                        Falso
                      </div>
                      
                      <div class="text-muted border border-dark p-3 rounded highlight">
                        <div class="text-info d-block pr-1">En inglés: </div>
                        <p class="d-block mb-0">
                          False
                        </p>
                      </div>
                    </label>
                  </div>
                </form>
              </div>
              <div class="col-12 text-right">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" 
                  [disabled]="serviceProgress" 
                  (click)="saveQuestion($event)" class="btn btn-secondary">
                  <fa-icon *ngIf="!serviceProgress" class="mr-1" [icon]="['fas', 'save']"></fa-icon>
                  <fa-icon *ngIf="serviceProgress" [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon>
                  Guardar</button>
                </div>
              </div>
            </div>
          </div>
          <hr>
          
      </main>
  </div>
</div>