<!-- <div id="preloader">
    <div id="preloader-inner"></div>
</div> -->
<!--/preloader-->
<header class="header header-sticky header-transparent header-light">
    <div class="top-bar navbar">
        <div class="container">
            <ul class="navbar-nav nav flex-row mr-auto" style="display: none;">
                <li class="nav-item"><a href="#!"><i class="ion-ios-telephone mr-2"></i> info@domain.com</a></li>
              </ul> 
            <ul class="navbar-nav flex-row nav ml-auto">
                <!-- <li class="nav-item">
                    <a href="signup.html" class="nav-link">
                        <i class="ion-lock mr-2"></i>
                        Registro</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a href="login.html" class="nav-link">
                        <i class="ion-android-lock mr-2"></i> Ingreso
                    </a>
                </li> -->

                <li class="dropdown nav-item" style="display:none">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> Eng.</a>
                    <ul class="dropdown-menu dropdown-menu-right dropdown-menu-sm">
                        <li><a href="#" class="dropdown-item">ENGLISH</a></li>
                        <li><a href="#" class="dropdown-item">FRANCE</a></li>
                        <li><a href="#" class="dropdown-item">GERMANY</a></li>
                        <li><a href="#" class="dropdown-item">JAPANESE</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--container end-->
    </div>
    <nav class="navbar navbar-expand-lg yamm">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/']">
                <img src="assets/img/logo-white.png" class="img-fluid logo-dark hide" alt="">
                <img src="assets/img/logo-dark.png" class="img-fluid logo-white" alt="">
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto smooth-scroll">
                    <li class="nav-item">
                        <a href="#inicio" class="nav-link" >Home</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#courses">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#faq">Preguntas frecuentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonials">Testimoniales</a>
                    </li>
                    <li class="nav-item">
                        <a href="#footer" class="btn btn-suscription btn-success btn-radius btn-lg btn-order-now" data-toggle="dropdown">Inscríbete</a>
                    </li>
                </ul>
            </div>
            <div class="right-search ml-4 dropdown" style="display: none;">
                <a class="icon-search" href="#!" data-toggle="dropdown">
                    <i class="ion-ios-search-strong"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <form class="form-inline">
                        <input type="text" placeholder="Search" class="form-control">
                        <button type="button" class="form-search-button">
                            <i class="ion-ios-search-strong"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </nav><!--nav end-->
</header>
